<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      :root{
        --border:.5px #fcfcfc solid;
      }
      *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .scoreSquare{
        width: 130px;
        height: 80px;
        border-radius: 5px;
        font-size: 22px; 
        color: #fff; 
        line-height: 23px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: auto 0;
        margin-right: 30px;
        margin-left: 10px;
      }
      .scoreSquare .scoreSquareDetail{
        position: absolute;
        transform: rotate(45deg);
        background-color: inherit;
        content: '';
        width: 14px;
        height: 14px;
        right: -7px;
      }
      .scoreSquareText{
        width: calc(100% - 180px);
        margin-right: 10px;
        padding: 10px;
        box-sizing: border-box;
        height: 80px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .score-red {
        background-color: #c30829;
      }
      .score-orange {
        background-color: #fb8f00;
      }
      .score-yellow {
        background-color: #ffdf00;
      }
      .score-light-green {
        background-color: #c2cf01;
      }
      .score-dark-green {
        background-color: #5faa1f;
      }

      @media print {
        body {
          margin: 0;
          padding: 0;
          -webkit-print-color-adjust: exact;
        }
        .tableline {
          page-break-inside: avoid;
        }
        .page-break {
          page-break-before: always;
        }
        .avoid-break {
          page-break-inside: avoid;
        }
        .full-width {
          width: 100%;
        }
        .full-page {
          page-break-after: always;
          page-break-before: always;
        }
      }
      body {
        padding: 20px 18px;
        max-height: 297mm;
      }
      .footer{
        position: absolute;
        bottom: 20px;
        right: 22px;
        display: flex;
        flex-direction: column;
        align-items: end;
      }
      .footer > div{
        display: flex;
        width: 300px;
        justify-content: space-between;
      }
      .footer > div > a{
        text-decoration: none;
      }
      .footer svg{
        max-height: 16px;
        width: auto;
        display: block;
      }
      .banner {
        width: 20rem;
        height: 6rem;
      }
      ul.client-info {
        list-style: none;
      }
      ul.client-info > li {
        text-align: start;
      }
      ul.footer-contact {
        list-style: none;
      }
      ul.footer-contact > li {
        text-align: end;
      }
      table {
        border-collapse: collapse;
      }
      table,
      th,
      td {
        width: 100%;
        border: 1px solid black;
      }
      table {
        margin: 2rem 0;
      }
      .tablebody{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
      }
      .tableline, .tablehead{
        display: flex;
        width: 100%;
        box-shadow: 0px 0px 0px 1000px #fafafa inset;
      }
      .tableline.even{
        box-shadow: 0px 0px 0px 1000px #efefef inset;
      }
      .tablecolumn{
        font-size: 11px;
        line-height: 16px;
        box-sizing: border-box;
        width: calc(100% / 12);
        border-left:var(--border);
        border-top:var(--border);
        padding: 4px 6px;
        min-height: 16px;
        display: flex;
        align-items: center;
        font-weight: 400;
        justify-content: start;
      }
      .tablecolumn.uc{
        text-transform: uppercase;
      }
      .tablecolumn.tabletitle{
        font-weight: 600;
      }
      .tablecolumn svg{
        max-height: 20px;
        width: auto;
      }
      .tablehead .tablecolumn{
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 1000px #143491 inset;
        text-shadow: 0px 0px 0px #fff;
        color:transparent;
        font-weight: 600;
      }
      .tablehead.bg-02 .tablecolumn{
        box-shadow: 0px 0px 0px 1000px #5cbc67 inset;
      }
      .tablehead.bg-03 .tablecolumn{
        box-shadow: 0px 0px 0px 1000px #5cbc67 inset;
      }
      .tablecolumn.s2{
        width: calc(calc(100% / 12) * 2);
      }
      .tablecolumn.s3{
        width: calc(calc(100% / 12) * 3);
      }
      .tablecolumn.s4{
        width: calc(calc(100% / 12) * 4);
      }
      .tablecolumn.s5{
        width: calc(calc(100% / 12) * 5);
      }
      .tablecolumn.s6{
        width: calc(calc(100% / 12) * 6);
      }
      .tablecolumn.s7{
        width: calc(calc(100% / 12) * 7);
      }
      .tablecolumn.s8{
        width: calc(calc(100% / 12) * 8);
      }
      .tablecolumn.s9{
        width: calc(calc(100% / 12) * 9);
      }
      .tablecolumn.s10{
        width: calc(calc(100% / 12) * 10);
      }
      .tablecolumn.s11{
        width: calc(calc(100% / 12) * 11);
      }
      .tablecolumn.s12{
        width: calc(calc(100% / 12) * 12);
      }
      .tablecolumn.s2{
        width: calc(calc(100% / 12) * 2);
      }
    </style>
  </head>
  <script>
    function formatCPF(cpf, pessoa) {
      if (!cpf) return "Não informado";
      if (cpf.length === 11) {
        return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
      } else {
        return cpf.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '$1.$2.$3/$4-$5');
      }
    }
    function formatarTelefone(ddd, telefone) {
      if (!ddd || !telefone) return "Não informado";
      const formattedPhone = telefone.length === 9 
        ? telefone.replace(/(\d{5})(\d{4})/, "$1-$2") 
        : telefone.replace(/(\d{4})(\d{4})/, "$1-$2");
      return `(${ddd}) ${formattedPhone}`;
    }
    function formatPercentual(percent) {
      if (!percent) return "Não informado";
      if(percent.length === 5)
        return percent.replace(/(\d{3})(\d{2})/, "$1.$2")+'%';
      else if(percent.length === 4)
        return percent.replace(/(\d{2})(\d{2})/, "$1.$2")+'%';
      else if(percent.length === 3)
        return percent.replace(/(\d{1})(\d{2})/, "$1.$2")+'%';
    }
  </script>
  <body>
    <div style="display:flex; justify-content: space-between;width: 90%;margin: 0 auto;">
      <svg  
        class="banner"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="1838.667"
        height="544"
        viewBox="0 0 1379 408"
      >
        <path
          d="M249.5 64.7c-2.7 4.3-5.9 9.5-7.3 11.6-1.4 2-2.2 4-1.9 4.3.3.4 3.6 0 7.2-.7 5.3-1 8-1 13.7-.1 3.9.7 7.3 1.1 7.5.8.3-.3-12.7-21.8-14.2-23.4-.2-.2-2.4 3.2-5 7.5zM243.5 108.7c-14.9 4.1-18 5.5-18.3 8.6-.2 1.5-.8 2.7-1.3 2.7s-.9.5-.9 1c0 .6-.8 2.9-1.9 5.3-3.4 7.8-4.2 10-3.7 10.4.2.2 5.7-.8 12.2-2.3 6.6-1.4 13.3-2.8 14.9-3.1 1.7-.2 4.7-.8 6.8-1.3 2-.4 5.4-.4 7.5.1 2 .5 5.1 1.1 6.7 1.4 1.7.2 8 1.6 14.2 3 6.1 1.4 11.5 2.5 11.8 2.5.4 0 .3-1 0-2.3-.7-2.2-1.4-4.1-5.4-12.9-1.2-2.6-2.1-5.1-2.1-5.7 0-.6-1-1.5-2.1-2.2-2.5-1.3-26.4-7.9-28.2-7.8-.7.1-5.2 1.2-10.2 2.6zM572.4 119.9c-12.7 2-22.2 7-31.2 16.5-10.9 11.5-15.2 22.5-15.2 38.6 0 35.9 32.2 61.2 68.2 53.6 27.9-6 46.8-32.8 42.9-61.3-2.8-20.2-18.8-39.4-37.6-45.2-7.3-2.3-20-3.3-27.1-2.2zm22.2 17.2c8.8 3.3 15.2 9.2 19.9 18.2 3.6 7.1 3.9 8.6 4.3 17.1.4 7.7 0 10.6-1.7 15.7-7.6 22.8-32.3 32.8-53.4 21.7-7.2-3.9-12-9.2-16.1-17.7-2.9-6.2-3.1-7.3-3.1-17.6 0-12 1.1-15.8 7.5-24.9 8.5-12.5 27.6-18.1 42.6-12.5zM787 120c-23.2 3.6-40.7 20.1-45.5 42.8-1.9 8.7-1.9 13.5.1 23 2.9 14.3 11.9 27.8 23.4 35.2 11.5 7.4 28.4 10.5 41.7 7.7 9.1-2 21.3-8.3 28.4-14.6l5.4-4.9-6-6.1-5.9-6.1-3.1 2.9c-5.2 5-14.5 10.9-19.7 12.7-6.9 2.3-18.6 1.5-25.1-1.6-24.1-11.5-29.8-46-10.7-65 2.7-2.8 7.6-6.3 10.8-7.8 4.9-2.3 7-2.7 14.7-2.7 8.5 0 9.4.2 16 3.8 3.9 2 9.4 5.8 12.4 8.4l5.3 4.6 5.3-5.9c3-3.2 5.4-6.2 5.5-6.6 0-1.2-8.6-8.1-15.3-12.1-11-6.7-25.4-9.6-37.7-7.7zM983 120.1c-21.7 3.1-39 18.5-45.1 39.9-1.9 6.7-1.6 22.4.5 29.4 4.6 15.3 15.1 28.4 27.6 34.4 13.7 6.5 29.8 7.7 43.2 3.1 9.1-3 26.8-14.7 26.8-17.7 0-.4-2.6-3.4-5.8-6.5l-5.8-5.8-2 2.2c-3.5 3.9-15.5 11.8-20.6 13.5-3.6 1.2-7.2 1.5-12.7 1.2-17.6-1-31.4-14.4-34-32.8-3.3-23.9 11.9-44.4 34.2-45.8 5.6-.3 8.5 0 13 1.6 5.7 2.1 16.4 9 20.1 13.1 1.1 1.1 2.2 2.1 2.6 2.1.4 0 3.1-2.7 6-6.1l5.2-6-2.3-2.6c-7-7.5-22.6-15.5-33.6-17.2-7.9-1.2-9.3-1.2-17.3 0zM450 174.5V228h18v-49h38.2l-.4-7.8-.3-7.7-18.7-.3-18.8-.2v-26h50v-16h-68v53.5zM654 174.5V228h18v-42h2.3c1.7 0 6.6 5.1 20.2 21l17.9 21H735.1l-1.8-2.3c-1-1.3-9.2-10.8-18.3-21.1-9.1-10.3-16.6-19.1-16.8-19.5-.1-.4 2.2-1.5 5.2-2.4 6.7-2.1 13.2-7.8 17.1-14.8 2.7-4.8 3-6.3 3-13.9-.1-7.2-.5-9.4-2.8-14.2-4.7-9.6-13.7-15.7-26.7-17.7-3.6-.6-14-1.1-23.2-1.1H654v53.5zm40.4-36.4c8.1 2.2 13 12.1 10.5 21.3-2.4 8.9-7.5 11.6-22.4 11.6H672v-34h9.3c5 0 11 .5 13.1 1.1zM851.3 150.2c.4 16.1.7 40.2.7 53.5V228h71v-16h-53v-33h41.1l-.3-7.8-.3-7.7-20.2-.3-20.3-.2v-26h49l.1-4.8c.1-2.6.2-6.2.3-8l.1-3.2h-68.8l.6 29.2zM1048.8 161.5c.2 37.8.4 40.9 2.3 45.9 6 16.1 25.2 25 47 21.8 14.5-2.1 24.4-9.3 29.1-21.1 2.1-5.4 2.2-7.1 2.6-46.4l.4-40.7h-19.1l-.3 39.7c-.3 44.8-.4 45-8 50-7.8 5.2-22.2 4.1-29-2.2-6.4-5.9-6.3-5.2-6.6-48.3l-.3-39.2h-18.4l.3 40.5zM1148 147.2c0 14.6.3 38.7.7 53.6l.6 27.2H1167v-42l2.3.1c1.6 0 6.9 5.5 20.1 21l17.8 20.9h23l-5-5.8c-2.7-3.1-9.6-10.9-15.2-17.2-16.3-18.4-17.6-20-15.9-21.1.8-.5 2.1-.9 2.9-.9 2.9 0 11.8-5.9 14.9-9.9 4.6-5.8 6.4-10.8 6.4-18.1.1-15.8-7.4-26.2-22.8-31.6-4-1.4-9.4-1.8-26.2-2.2l-21.3-.4v26.4zm36-10.1c11.7 1.9 16 6.6 16 17.6 0 4-.6 6.8-2 9-3.4 5.7-6.2 6.7-19.2 7.3l-11.8.5V136h5.3c2.8 0 8.1.5 11.7 1.1zM1237 174.5V228h72v-16h-54v-33h41v-16l-20.2-.2-20.3-.3v-25l24.8-.3 24.7-.2v-16h-68v53.5zM240 159.2c-7.4 2.1-18.5 5.3-24.6 7l-11.1 3.1-2.3 5.1c-4.1 9.2-7 16.9-6.5 17.4.5.6 22.6-3.8 43.5-8.5l15.5-3.6 16 3.6c24.3 5.4 42.6 8.9 43.2 8.3.4-.3-.2-2.5-1.2-4.8-.9-2.4-2.1-5.2-2.6-6.3-.4-1.1-1.7-4-2.8-6.5l-2-4.6-13.8-3.8c-7.6-2.1-15.6-4.4-17.8-5.2-4.8-1.6-18.7-5.4-19.5-5.3-.3.1-6.6 1.9-14 4.1zM168.8 187.2c-4.1 6.2-7.8 11.8-8.1 12.5-.6.9.2.9 3 .2 9.1-2.4 9.6-2.9 12.9-13.9.9-2.9 2.3-6.4 3.1-7.7 1.5-2.2 1.4-2.3-1-2.3-2 0-3.7 1.9-9.9 11.2zM329 176.4c0 .5.5 1.7 4.4 10.8.9 2 1.6 4.2 1.6 5 .1 2.8 3.7 5.9 7.9 6.9 2.4.5 4.5.8 4.7.7.7-.8-15.4-23.3-16.9-23.6-.9-.2-1.7-.1-1.7.2zM234.5 210.4c-11 2.9-24.7 6.7-30.5 8.4-5.8 1.7-13.3 3.9-16.7 4.9-4.3 1.2-6.3 2.2-6.3 3.3 0 .9-.4 2-.9 2.5-1 1.2-7.3 17.7-6.8 18.1.1.1 4.2-.6 9-1.7 4.8-1 10.2-2.1 12-2.4 4.7-.6 15.1-2.9 39.2-8.6l21.6-5 20.7 5c11.4 2.7 24.5 5.7 29.2 6.6 7.2 1.4 21.4 4.3 29.8 6.1 2.4.5 2.6.2 1.3-2.4-1.8-3.5-6-13.8-6.7-16.5-.4-1.8-1.6-3.2-3.3-3.8-3.9-1.5-42.5-12.2-70.1-19.3-.8-.3-10.5 1.9-21.5 4.8zM146.6 233.3c-9.2 1.9-10 2.2-11.8 5.4-1.1 1.8-2.4 3.3-2.9 3.3s-.8.3-.7.7c.3.9-2.9 6-5 8.1-.7.8-2 2.8-2.9 4.5-.9 1.8-2.1 3.5-2.7 3.9-1.8 1.2-.2 1 13.7-2.3 14.5-3.4 16.7-4.3 16.7-6.4 0-.7.4-1.5.8-1.7 1.5-.6 5-7.4 5.6-11.1.4-2 1.2-3.7 1.7-3.7.6 0 .4-.7-.5-1.5-.8-.8-1.6-1.5-1.8-1.4-.2.1-4.7 1-10.2 2.2zM350.6 232.6c-.3.8.1 2.5.9 3.7.8 1.2 1.5 2.8 1.5 3.7 0 .9.9 3.3 2 5.5s2 4.5 2 5.1c0 .7.8 1.5 1.8 1.9 2.5 1.1 27.6 7.3 28.1 6.9.2-.1-3.2-5.6-7.6-12.1l-7.9-11.8-6.5-1.6c-11.7-2.9-13.6-3.1-14.3-1.3zM248 257c-1.4.5-15.3 4.1-31 8-15.7 4-31 8-34 9s-9.1 2.8-13.5 4c-4.4 1.1-8.6 2.4-9.2 2.8-.7.4-2.7 4.8-4.4 9.7-1.7 5-3.6 9.6-4.2 10.3-.5.7-.8 1.5-.5 1.7.9 1 40.3-7.3 76.9-16.1l26.7-6.4 22.8 5.5c31.3 7.6 55.2 13 61.9 13.9 2.2.3 7.3 1.2 11.3 2 4 .9 7.5 1.6 7.7 1.6.2 0-.2-1.2-.9-2.8-2.9-5.7-4.6-10.3-4.6-12.2 0-1.1-.4-2-.9-2s-1.1-1.1-1.5-2.4c-.6-2.4-4.5-4.3-14.1-6.6-2.7-.7-5.4-1.3-6-1.5-.5-.1-1.2-.2-1.5-.2-.3 0-1.4-.4-2.5-1-3.4-1.9-69.1-18.3-72.6-18.2-1.9 0-4.5.4-5.9.9zM671.1 259.9c-1.2 1.1-1.8 2.1-1.4 2.4.4.3 1.6-.6 2.6-1.9 2.2-2.9 1.8-3.1-1.2-.5zM1079 260c-1.2 2.3-.5 2.6 1.6.6 1.6-1.7 1.8-2.6.4-2.6-.5 0-1.4.9-2 2zM533.5 267c-.8 1.3-.9 39-.1 39h2.1c1.2 0 1.4-2.7 1.2-17.5-.2-14.7 0-17.5 1.2-17.5.8 0 1.2.3.8.6-.3.3.8 2.8 2.4 5.5 1.6 2.8 2.9 5.4 2.9 5.9 0 .6.4 1 1 1 .5 0 1.2 1.1 1.6 2.5.3 1.4.9 2.5 1.3 2.5s.8.6.8 1.3c0 .6 1.2 3.1 2.6 5.4 1.5 2.4 2.7 4.7 2.7 5.3 0 .5.4 1 .9 1s1.2 1.1 1.5 2.5c.6 2.5 2.7 3.2 6 1.9 1.4-.5 1.6-3.2 1.6-19.9s-.2-19.4-1.6-19.9c-.9-.3-1.8-.6-2-.6-.2 0-.4 7.9-.4 17.5 0 16.1-.8 20.9-2.5 15.5-.3-1.1-1.1-2-1.6-2s-.8-.3-.7-.8c.2-.4-.8-2.5-2.1-4.7s-4.6-8.3-7.3-13.5c-2.7-5.2-5.7-10.1-6.6-10.8-1.9-1.5-4.8-1.6-5.7-.2zM578.8 266.8l-2.8.3v40l12.7-.3c11.5-.3 12.8-.5 13.1-2.1.4-1.8-.4-1.9-10.7-1.5l-11.1.3V288h10c8.2 0 10-.3 10-1.5s-1.8-1.5-10-1.5h-10v-15.5l11.1.3c9.9.4 11.1.2 10.7-1.2-.2-1.4-1.9-1.7-10.3-1.9-5.5-.1-11.2-.1-12.7.1zM617.1 269.1c-6.6 4.7-8.6 9.1-8.6 18.7 0 6.3.4 8.5 1.5 9.2.8.5 1.1 1 .6 1-.5 0 .7 1.5 2.6 3.4 5.1 4.9 12.6 6.8 18.5 4.5 3.1-1.2 6.5-4.4 5.6-5.3-.4-.3 0-.6.9-.6s1.4.8 1.3 2.2c-.3 3.3.5 4.8 2.1 4.1 1.1-.4 1.4-2.7 1.4-9.4V288h-7c-5.6 0-7 .3-7 1.5 0 1.1 1.2 1.5 5.1 1.5h5.1l-.7 3.2c-1.1 4.8-2.2 6.6-5.4 8.2-5.9 3.1-13.1 1.7-17.3-3.3-1-1.2-1.5-2.1-1.2-2.1.4 0 .1-.7-.7-1.6-.8-1-1.2-4.1-1.2-8.4.2-10.4 4-16.5 11.5-18.3 5.8-1.5 12.6 2.1 14.7 7.6.6 1.5 1.7 2.7 2.6 2.7 4.7 0-2.3-10-8.3-11.8-6.2-1.9-11.9-1.2-16.1 1.9zM663.3 267.1c-.7.7-1.3 1-1.3.5 0-.4-1.3.1-3 1.1-1.6.9-3 2.2-3 2.8 0 .6-.9 1.8-2 2.8-1.1.9-2 2.2-2.1 2.9-.1 1.6-.6 4.5-1.4 7.5-.3 1.3 0 4.3.7 6.6.6 2.3 1.2 4.4 1.3 4.7.4 2.2 5.4 7.9 7.9 9.1 4.3 2 13.3 1.8 18.1-.4 7.9-3.6 11.9-14.7 9.2-25.4-1.4-5.5-5.8-10.5-10.7-12.1-4.1-1.4-12.4-1.4-13.7-.1zm14.8 4.5c3.8 3.5 5.3 7.5 5.3 14.9 0 11.3-5 17.5-13.9 17.5-8.7 0-13.7-6.3-13.8-17.5-.1-11.6 5.7-18.1 15.6-17.2 2.7.2 5.6 1.2 6.8 2.3zM709.1 266.7c-4.5.9-12.7 7.6-11.5 9.4.2.4-.1.9-.7 1.1-.6.2-1.4 3.5-1.6 7.4-.6 8 1.1 13 5.7 17.4 4.5 4.2 7.4 5.3 13.4 4.8 8.1-.7 16.4-7.1 14.9-11.6-.8-2.3-3.3-1.2-4.7 2.2-.8 1.8-2.4 4.1-3.7 5-4.5 3.1-15.8 1.3-18.2-2.9-.4-.8-.7-1.6-.6-1.7.1-.2-.3-1.4-1-2.7-.8-1.4-1.3-5.5-1.2-9.8.1-5.9.5-7.8 2.1-9.5 1.1-1.2 2-2.5 2-3 0-1.6 6.1-3.8 10.4-3.8 3.6 0 5.2.6 8.1 3.1 1.9 1.7 3.5 4 3.5 5 0 1.2.7 1.9 2 1.9 2.6 0 2.5-1.2-.2-6-3.5-5.9-9.6-8-18.7-6.3zM741.2 266.8c-.9.7-1.2 5.4-1 20.3.3 17.5.5 19.4 2.1 19.7 1.6.3 1.7-1.2 1.7-20.2 0-11.3-.3-20.6-.7-20.6-.5 0-1.4.4-2.1.8zM762.6 268.3c-2.2 1.2-5.2 4.2-6.8 6.6-2.4 3.8-2.8 5.5-2.8 11.2 0 9.7 1 11.7 8.7 18.2 2.7 2.3 11.9 3.3 16.5 1.8 4.2-1.5 9.7-6 10.3-8.6.3-1.1 1-4.1 1.6-6.7 1.5-6.8-.3-14.8-4.4-19.2-5.5-5.8-15.9-7.2-23.1-3.3zm16.5 3c4.1 2.7 6.1 6.6 6.7 12.9 1.4 14.4-8.9 23.6-20.3 18.2-9.9-4.7-10.2-26.9-.4-31.7 4.8-2.3 10-2.1 14 .6zM804.9 267.7c-3.5 2.1-6.3 7.5-5.5 10.6.6 2.4 5.1 7.6 6.7 7.8 1.4.2 2.1.4 8 2.2 4.1 1.2 5.9 2.3 6.7 4.2 3 6.6-.2 11.5-7.4 11.5-5.6 0-8.5-1.4-10.6-5.1-1.7-2.9-4.8-4-4.8-1.6 0 1.5 2.8 5.7 5 7.4.8.7 3.4 1.5 5.7 1.9 9.8 1.5 17.3-3 17.3-10.3 0-5-2-7.8-7.3-10.1-4.4-1.9-9.7-3.6-10.8-3.4-1.2.2-4-3.5-4.4-5.8-.6-3.3 1.2-6 5.2-7.7 3.3-1.3 4-1.3 7.4.2 2.5 1.2 4.1 2.8 4.8 4.7.7 2.1 1.6 2.8 2.8 2.6 2.7-.6 1.7-3.8-2.2-7.6-3-2.8-4.1-3.2-8.7-3.2-3.1 0-6.4.7-7.9 1.7zM848.1 286.8c0 18 .1 20.3 1.5 19.8.9-.3 2-.6 2.5-.6.6 0 .9-7.7.9-19.4l-.1-19.4-2.4-.4-2.3-.5-.1 20.5zM864.1 286.6c0 18.9.1 20.5 1.7 20.2 1.5-.3 1.7-2.2 2-17.1.1-9.2.6-16.7 1.1-16.7.9 0 1.4 1.2 5.2 12 1.2 3.6 2.6 6.9 3.1 7.5.4.5.8 1.5.8 2.2 0 .7.9 3.6 2 6.5 1.6 4.5 2.4 5.3 4.5 5.3 2.2 0 2.8-.9 5.1-7.5 7.1-20 9.8-27 10.4-27 .4 0 .7 7.8.8 17.2 0 11.8.4 17.3 1.1 17.2.6-.1 1.5-.2 2.1-.3 1.4-.2 1.1-39.1-.4-39.2-.6 0-2.1-.2-3.4-.3-1.2-.2-2.7.3-3.3 1.1-.6.7-.9 1.3-.6 1.3.3 0-.5 2.7-1.8 6s-2.2 6-2 6c.2 0-.7 3-2.2 6.7-1.4 3.8-2.6 7.2-2.8 7.8-1 4.4-1.9 6.5-2.6 6.5-.8 0-2.6-3.3-3.5-6.5-1.1-4.1-7.7-23.3-8.5-24.7-.5-1-.9-2.5-.9-3.3 0-1.1-1.1-1.5-3.9-1.5h-3.9l-.1 20.6zM924.7 267.5c-3.9 1.3-7.7 4.5-7.7 6.4 0 .5-.5 1.1-1.1 1.3-.5.2-1.5 3.5-2.1 7.3-2.1 14.2 4.6 23.6 17.1 24.1 7.8.3 9-.1 13.9-4.4 5.1-4.6 6.2-7.5 6.2-15.9 0-5.2-.5-7.5-2.5-10.8-2.1-3.7-6.7-7.9-8.7-8-.3 0-1-.3-1.4-.8-1.2-1.2-9.6-.7-13.7.8zm14 3.2c4.7 2.2 7.3 7.8 7.3 15.8 0 11.1-5.2 17.5-14.3 17.5-4.2 0-9.7-3.5-11.7-7.5-1.9-4-2-16.1 0-20 3.4-6.6 11.6-9.2 18.7-5.8zM963 266.7l-2.5.4.2 19.1c.1 14.5.5 19.3 1.5 19.9 1.6 1.1 11 1.1 16.3 0 4.3-.8 8.5-3.7 8.5-5.8 0-.7.4-1.3.9-1.3 1.2 0 1.2-5-.1-8.3-.6-1.5-1.6-2.7-2.3-2.7-.7 0-1.9-.7-2.6-1.6-1.1-1.4-1-1.8 1-3.3 1.4-1.1 2.4-3.2 2.8-5.9.5-3.7.2-4.5-2.7-7.2-2.9-2.7-3.9-3-9.5-3-3.5 0-6.9-.2-7.7-.3-.7-.2-2.4-.2-3.8 0zm17.6 5.9c2 1.9 2.4 3.1 2 5.2-1.1 4.6-4.1 6.2-11.2 6.2H965v-14h6.5c5.7 0 6.9.3 9.1 2.6zm1.5 17c1.3 1.2 1.9 3.1 1.9 6 0 5.9-2.3 7.4-11.7 7.4-7.1 0-7.2 0-7.5-2.8-.2-1.5-.1-5.1.1-8.1l.3-5.4 7.5.6c5.1.4 8.1 1.1 9.4 2.3zM999.8 266.8c-1.5.3-1.7 2.4-1.8 18.6 0 10 .2 19 .6 19.9.8 2.2 3 2.2 3.8 0 .9-2.2.6-36.8-.3-38-.3-.5-1.4-.7-2.3-.5zM1015.2 266.9c-.9.6-1.2 5.4-1 20.2l.3 19.4 11.9.3c13.3.3 14.9 0 13.9-2.3-.5-1.4-2.1-1.6-11.2-1.3l-10.6.3-.3-18c-.1-9.9-.6-18.3-1-18.7-.4-.4-1.3-.4-2 .1zM1077.3 266.8c-1.8.3-2.9 1.7-3.8 5.2-.1.3-.7 1.8-1.4 3.5-1.7 4.1-4.1 10.7-4.6 12.5-.2.8-.4 1.5-.5 1.5-.1 0-.4 1.1-.6 2.5-.2 1.3-.8 2.7-1.2 3-1.1.7-4.3 11.2-3.7 11.9 1.5 1.4 4-2.1 5.9-8.2l2.1-6.7h8.2c8.1 0 9 .4 9.8 3.7.7 3 3.1 9.2 3.8 10 .4.4 1.5.8 2.3.9 1.7.3 1.4-2.5-1.1-8.1-1.7-3.9-3.9-9.8-4.1-10.8-.1-.4-.3-.9-.4-1.2-.1-.3-.3-.8-.5-1.3-.1-.4-.4-1.4-.8-2.2-2.1-5.4-4.9-13.7-5-14.7-.1-1.5-1.5-2-4.4-1.5zm4.1 12.4c1.4 4.4 2.6 8.5 2.6 9 0 .4-2.7.8-6 .8-4.1 0-6-.4-6-1.2 0-2.1 5.4-16.8 6.1-16.8.4 0 1.9 3.7 3.3 8.2zM1106.8 266.8l-3.8.3v19.4c0 15.6.3 19.4 1.4 19.8 2.3.9 2.6-.2 2.6-9V289h7.3c3.9 0 7.7.4 8.3.8 1.5 1 2.5 4 3.1 9.2.6 5.5 1.9 8 3.9 8 1.1 0 1.4-.5.9-1.8-.3-.9-.9-4-1.2-6.7-.3-2.8-1.4-6.5-2.4-8.3-2.3-4-2.4-5.2-.4-5.2 2.4 0 4.9-6.2 4.1-10.3-1.2-6.3-9.7-9.1-23.8-7.9zm17.7 5.2c2.6 2.9 2.5 8.5-.3 11.3-1.9 1.9-3.3 2.2-9.5 2.2h-7.2l-.3-7.8-.3-7.7h7.9c6.7 0 8.2.3 9.7 2zM1141.3 266.8c-.8.5-1.1 6.5-1 20.2.2 17.7.4 19.5 2 19.8 1.6.3 1.7-1.1 1.7-19.7 0-11-.4-20.2-.8-20.5-.4-.2-1.3-.2-1.9.2zM1163.3 268c-5 2.6-9.4 8.9-10.1 14.5-.7 6.5 1.5 15 4.8 18.5 3 3.2 9.5 6 14 6s11-2.8 13.9-5.9c3.2-3.5 5.7-12.9 4.8-18.9-.7-5.3-5.3-11.9-9.6-14.1-5.4-2.5-12.8-2.6-17.8-.1zm15.4 2.7c4.7 2.2 7.3 7.8 7.3 15.8 0 11.8-5.9 18.3-15.5 17.3-8.1-1-11.4-5.2-12.2-15.9-1.2-14.6 8.6-22.8 20.4-17.2zM1206.5 267.4c-10.1 4.5-8.6 17 2.2 19.2 4.8.9 11.5 3.9 12.3 5.4 1.4 2.7 1.2 7.2-.4 9.6-1.2 1.6-2.7 2.1-7.5 2.3-6 .2-6.1.2-8.8-3.8-1.6-2.2-3.6-4-4.5-4.1-2.2 0-2.3 1.4-.1 5 2 3.4 5.1 5 11.3 5.7 13.3 1.6 20.9-11.7 11.1-19.4-1.5-1.2-10.4-4.2-13.9-4.7-2.1-.3-4.2-3.5-4.2-6.4 0-3.7 1.7-5.9 5.5-7.2 2.8-.9 4-.8 7 .6 2 .9 3.8 2.6 4.1 3.9.6 2.5 2.9 3.9 4.5 2.9 1.4-.8-3-8-5.5-9.1-3.3-1.5-9.8-1.4-13.1.1zM1049 287.1c0 18.6.1 20 1.8 19.7 1.5-.3 1.7-2.2 2-20.1.2-19.2.2-19.7-1.8-19.7-1.9 0-2 .6-2 20.1zM437.2 286.7l.3 2.8 42.8.2 42.7.2V284h-86.1l.3 2.7zM1237.9 284.7c0 .5-.2 1.8-.5 3l-.4 2.2 42.8-.2 42.7-.2.3-2.8.3-2.7h-42.5c-23.4 0-42.6.3-42.7.7zM125.5 288.5c-5.5 1.3-11.3 2.6-13 2.9-8.9 1.6-13.8 2.7-15 3.3-2.4 1.4-17.4 25.1-15.7 24.7 1-.2 8-1.9 15.7-3.8 7.7-2 16.3-4 19-4.6 7.9-1.7 15.5-4.2 15.5-5.1 0-.5.9-2.8 1.9-5.2 4-9 5.2-14.8 2.9-14.6-.7 0-5.8 1.1-11.3 2.4zM371.3 288.2c.3 1.3 1.8 5.9 3.4 10.4 2.5 7.5 3 8.1 6.3 9.1 6.7 2.1 45.2 11.5 45.5 11.1.2-.2-3.2-5.8-7.6-12.5-8.3-12.7-7.9-12.4-16.6-13.8-1.8-.3-9.2-1.9-16.5-3.5-7.3-1.7-13.7-3-14.2-3-.4 0-.6 1-.3 2.2zM205.5 318c-25.3 6.5-49.1 12.8-53 13.9-3.8 1.2-8.7 2.6-10.7 3.2-3.1.8-4.1 1.8-5.9 5.7-1.2 2.5-2.2 6-2.3 7.7l-.1 3 14.4.3 14.3.3 28.2-6.6c15.4-3.6 36.2-8.5 46.1-10.9l17.9-4.4 27.1 6.5c63.9 15.2 64.2 15.3 79.3 15.2 17.7-.1 17.6 0 14.6-6.3-1.3-2.8-2.4-5.6-2.4-6.3 0-2.1-4.1-4.1-14.1-6.9-26.3-7.2-102.7-26.4-104.9-26.3-1.4 0-23.2 5.4-48.5 11.9zM103 344.1c-6.9 1.6-13.8 3.1-15.5 3.3-5.6.8-18.6 3.7-20.8 4.6-2.2.9 28.1.4 42-.6 7.6-.6 8.2-1.2 8.3-7.1 0-1.2.6-2.4 1.3-2.6 3.4-1.4-4.2-.2-15.3 2.4zM392 342.6c0 1 .5 3.2 1.2 5 1.1 3.2 1.3 3.3 8.2 3.8 11.1.9 42.8 1.3 41.4.6-.7-.4-6.2-1.7-12.3-2.9-20.1-4.1-35-7.2-36.7-7.7-1.2-.4-1.8 0-1.8 1.2z"
        />
      </svg>
      <div style="border:1px solid #000;padding: 10px 20px;display: flex;flex-direction: column;text-transform: uppercase;height: fit-content;width: fit-content; align-items: start;font-size: 14px;">
          <font style="font-size: 16px !important;font-weight: 600;">Análise Cadastral</font>
          <font>Tipo de locação: <%= data.immobile.locationType %></font>
          <font>valor aluguel: <%= data.itemsValues.rent.contractValue %></font>
          <font>Condomínio: <%= data.itemsValues.condominium.contractValue %></font>
          <font>IPTU: <%= data.itemsValues.iptu.contractValue %></font>
      </div>
    </div>

    <div style="display: flex">
      <ul class="client-info">
        <li>
          <span>Cliente: <%= data.client.name %></span>
        </li>
        <li>
          <span>CPF: <%= data.client.document %></span>
        </li>
        <li>
          <span>Email: <%= data.client.email %></span>
        </li>
        <li>
          <span>Celular: <%= data.client.phone %></span>
        </li>
        <li>
          <span>Endereço: <%= data.client.address.place %>, <%= data.client.address.number %>, <%= data.client.address.complement %> - <%= data.client.address.city %>/<%= data.client.address.state %> - <%= data.client.address.CEP %></span>
        </li>
      </ul>
    </div>
    <div class="tablebody" style="border-right: 0;">
      <div class="tablehead">
        <div class="tablecolumn uc s12" style="min-height: 36px; font-size: 20px; box-shadow: 0px 0px 0px 1000px #ffffff inset; color: #143491; border-left: 0;border-right: 0;border-top: 1px solid #143491;">ACERTA COMPLETO</div>
      </div>
    </div>
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Status da Consulta</div>
      </div>
      <div class="tableline ">
        <div class="tablecolumn uc s4" style="display: flex; justify-content: center; height: 160px; flex-direction: column; margin-bottom: -26px;">
          <svg xmlns="http://www.w3.org/2000/svg" style="transform: scale(4.4); padding:24px 0 30px 0;" width="365" height="365" viewbox="0 0 365 365" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd">
            <% if (Object.keys(data.consulta.resposta.acoes).length === 0 && Object.keys(data.consulta.resposta.protestos).length === 0 && Object.keys(data.consulta.resposta.debitos).length === 0) { %>
              <path style="opacity:.999" fill="#4fc041" d="M356.5 181.5q-34.071-33.573-68-67-11.594-15.768-29-6.5L157 210.5 103.5 159q-20.563-8.652-29.5 11.5-1.743 9.085 3 17a1568 1568 0 0 0 70.5 70 11244 11244 0 0 0 89 89.5q-1.374.417-2 1.5-104.913 29.074-181.5-48-71.04-84.19-32-188Q76.174 1.76 200.5 8 305.22 23.254 346 120.5q11.033 29.475 10.5 61"/>
              <path style="opacity:1" fill="#fdfefd" d="M288.5 114.5q5.244 13.095-3.5 24A9514 9514 0 0 0 169.5 255q-10.322 7.282-22 2.5a1568 1568 0 0 1-70.5-70q-4.743-7.915-3-17 8.937-20.152 29.5-11.5l53.5 51.5L259.5 108q17.406-9.268 29 6.5"/>
              <path style="opacity:.998" fill="#3d9f30" d="M288.5 114.5q33.929 33.427 68 67-1.413 92.085-76 145.5-21.309 14.405-46 21.5.626-1.083 2-1.5a11244 11244 0 0 1-89-89.5q11.678 4.782 22-2.5A9514 9514 0 0 1 285 138.5q8.744-10.905 3.5-24"/>
            <% } else { %>
              <path style="opacity:.998" fill="#fe5953" d="M356.5 184.5a9659 9659 0 0 1-83-82.5 2.43 2.43 0 0 0-2-.5q-10.077-16.773-28-8.5a2628 2628 0 0 0-61.5 60.5L123.5 95q-21.37-12.78-32.5 9.5-2.193 10.396 4 19l58.5 58.5A2628 2628 0 0 0 93 243.5q-8.21 17.96 8.5 28a2.43 2.43 0 0 0 .5 2 9650 9650 0 0 1 82.5 83q-99.301-.798-152.5-84-41.183-72.638-14-152Q58.793 23.239 163.5 8 266.382 1.08 327 83.5q30.328 45.735 29.5 101"/>
              <path style="opacity:1" fill="#fefcfc" d="M271.5 101.5q5.113 12.459-3.5 23L210.5 182l58.5 58.5q12.226 21.815-10.5 32.5-7.902 1.602-15-2a2628 2628 0 0 1-61.5-60.5L123.5 269q-10.428 7.242-22 2.5-16.71-10.04-8.5-28a2628 2628 0 0 1 60.5-61.5L95 123.5q-6.193-8.604-4-19 11.13-22.28 32.5-9.5l58.5 58.5A2628 2628 0 0 1 243.5 93q17.923-8.273 28 8.5"/>
              <path style="opacity:.999" fill="#da3a3c" d="M271.5 101.5a2.43 2.43 0 0 1 2 .5 9659 9659 0 0 0 83 82.5q-5.376 110.51-105 158.5-32.106 13.651-67 13.5a9650 9650 0 0 0-82.5-83 2.43 2.43 0 0 1-.5-2q11.572 4.742 22-2.5l58.5-58.5a2628 2628 0 0 0 61.5 60.5q7.098 3.602 15 2 22.726-10.685 10.5-32.5L210.5 182l57.5-57.5q8.613-10.541 3.5-23"/>
            <% } %>
          </svg>
          <div class="tablecolumn uc s12 tabletitle" style="display: flex; align-items: center; text-align: center; font-size: 18px; width: fit-content;">
            <% if (Object.keys(data.consulta.resposta.acoes).length === 0 && Object.keys(data.consulta.resposta.protestos).length === 0 && Object.keys(data.consulta.resposta.debitos).length === 0) { %>
              Nada consta
            <% } else { %>
              Constam Restrições
            <% } %>
          </div>
        </div>
        <div class="tablecolumn uc s6 tabletitle" style="line-height: 13px;font-size: 10px;">
          Ações:<br>
          Alertas:<br>
          SCPC:<br>
          FALENCIAS:<br>
          Protestos:<br>
          Cheques sem fundos - ccf:<br>
          Cheques sustados motivo 21:<br>
          Devoluções informadas pelo usuário:<br>
        </div>
        <div class="tablecolumn uc s6 tabletitle" style="line-height: 13px;font-size: 10px;">
          <% if (Object.keys(data.consulta.resposta.acoes).length === 0) { %>
            Nada consta
          <% } else { %>
            <%= data.consulta.resposta.acoes %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.alertas).length === 0) { %>
            Não constam informações na base consultada
          <% } else { %>
            <%= data.consulta.resposta.alertas %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.debitos).length === 0) { %>
            Não constam informações na base consultada
          <% } else { %>
            <%= data.consulta.resposta.debitos %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.falencias).length === 0) { %>
            Nada consta
          <% } else { %>
            <%= data.consulta.resposta.falencias %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.protestos).length === 0) { %>
            Não constam informações na base consultada
          <% } else { %>
            <%= data.consulta.resposta.protestos %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.ccf).length === 0) { %>
            Nada consta
          <% } else { %>
            <%= data.consulta.resposta.ccf %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.cheque_motivo_21).length === 0) { %>
            Nada consta
          <% } else { %>
            <%= data.consulta.resposta.cheque_motivo_21 %>
          <% } %>
          <br>
          <% if (Object.keys(data.consulta.resposta.devolucao_informada_pelo_usuario).length === 0) { %>
            Nada consta
          <% } else { %>
            <%= data.consulta.resposta.devolucao_informada_pelo_usuario %>
          <% } %>
        </div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn uc s4 tabletitle">Data Consulta</div>
        <div class="tablecolumn uc s12"><%= data.consulta.cabecalho.data_consulta %></div>
      </div>
      <div class="tableline ">
        <div class="tablecolumn uc s4 tabletitle">Protocolo</div>
        <div class="tablecolumn uc s12"><%= data.consulta.cabecalho.ip_solicitante %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn uc s4 tabletitle">Parâmetro de busca</div>
        <div class="tablecolumn uc s12"><%= data.consulta.cabecalho.documento_consultado %></div>
      </div>
      <%
        const score = parseInt(data.consulta.resposta.score.registro[0].score, 10);
        let scoreClass = '';

        if (score >= 0 && score <= 200) {
          scoreClass = 'score-red';
        } else if (score >= 201 && score <= 400) {
          scoreClass = 'score-orange';
        } else if (score >= 401 && score <= 600) {
          scoreClass = 'score-yellow';
        } else if (score >= 601 && score <= 800) {
          scoreClass = 'score-light-green';
        } else if (score >= 801 && score <= 1000) {
          scoreClass = 'score-dark-green';
        }
      %>
      <div class="tableline">
        <div class="tablecolumn uc s12 tabletitle" style="padding: 14px;">
          <div class="scoreSquare <%= scoreClass %>">
            Score<br>
            <%= score %>
            <div class="scoreSquareDetail"></div>
          </div>
          <div class="scoreSquareText">
            <%= data.consulta.resposta.score.registro[0].texto %>
          </div>
        </div>
      </div>
    </div>
    <!-- Renda Presumida -->
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Renda Presumida</div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn uc s6 tabletitle">Faixa / Classe de renda</div>
        <div class="tablecolumn uc s6"><%= data.consulta.resposta.score.registro[1].classificacao_numerico %></div>
      </div>
      <div class="tableline ">
        <div class="tablecolumn uc s6 tabletitle">Renda Mensal</div>
        <div class="tablecolumn uc s6">de <%= data.consulta.resposta.score.registro[1].texto %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s12">*A Renda Mensal é estimada a partir de informações comportamentais e cadastrais do consumidor.</div>
      </div>
    </div>
    <!-- Limite de parcela -->
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Limite de parcela</div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn uc s6 tabletitle">Descrição</div>
        <div class="tablecolumn uc s6">limite de parcela</div>
      </div>
      <div class="tableline ">
        <div class="tablecolumn uc s6 tabletitle">VALOR (R$)*</div>
        <div class="tablecolumn uc s6">0,00</div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn uc s6 tabletitle">TEXTO</div>
        <div class="tablecolumn uc s6"><%= data.consulta.resposta.score.registro[2].texto %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s12">*O valor da parcela é estimado a partir da combinação de informações cadastrais, comportamentais, e IBGE.</div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s12">IMPORTANTE: A definição do valor do limite de crédito efetivamente concedido é de total responsabilidade da empresa cedente e deve estar alinhado a sua politica interna de concessão de crédito.</div>
      </div>
    </div>
    <!-- Decisão -->
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Decisão</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.decisao).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline even">
          <div class="tablecolumn uc s6 tabletitle">Aprovação</div>
          <div class="tablecolumn uc s6"><%= data.consulta.resposta.decisao.aprovacao || "Não informado" %></div>
        </div>
        <div class="tableline">
          <div class="tablecolumn uc s6 tabletitle">TEXTO</div>
          <div class="tablecolumn uc s6"><%= data.consulta.resposta.decisao.texto || "Não informado" %></div>
        </div>
        <div class="tableline even">
          <div class="tablecolumn s12">AVISO: Esta análise foi baseada na validação de informações existentes no Bureau de Crédito e é de inteira responsabilidade do usuário e da empresa a decisão de aprovar/reprovar a negociação. As informações são confidenciais e é proibida a sua reprodução total ou parcial, bem como quaquer forma de divulgação.</div>
        </div> 
      <% } %>
    </div>
    <!-- Síntese Cadastral -->
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Síntese Cadastral</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.identificacao).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s2 tabletitle">Nome</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.nome || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Nascimento</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.data_nascimento || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Nome da mãe</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.nome_mae || "Não informado" %></div>
        </div>
        <div class="tableline even">
          <div class="tablecolumn uc s2 tabletitle">Documento</div>
          <div class="tablecolumn uc s2">
            <script>
              document.write(formatCPF("<%= data.consulta.resposta.identificacao.documento %>", "<%= data.consulta.resposta.identificacao.pessoa %>"));
            </script>
          </div>
          <div class="tablecolumn uc s2 tabletitle">Região do cpf</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.regiao_cpf || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Situação da receita</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.situacao_receita || "Não informado" %></div>
        </div>
        <div class="tableline">
          <div class="tablecolumn uc s2 tabletitle">Sexo</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.sexo || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Estado civil</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.estado_civil || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Numero de dependentes</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.numero_dependentes || "Não informado" %></div>
        </div>
        <div class="tableline even">
          <div class="tablecolumn uc s2 tabletitle">Escolaridade</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.escolaridade || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Data de atualização</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.data_atualizacao || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Nacionalidade</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.nacionalidade || "Não informado" %></div>
        </div>
        <div class="tableline">
          <div class="tablecolumn uc s2 tabletitle">Título de eleitor</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.titulo_eleitor || "Não informado" %></div>
          <div class="tablecolumn uc s2 tabletitle">Óbito</div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.identificacao.obito || "Não informado" %></div>
        </div>
      <% } %>
    </div>
    <!-- Localização -->
    <div class="tablebody avoid-break">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Localização</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.localizacao).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <div class="tableline even">
          <div class="tablecolumn uc s3 tabletitle">Endereço</div>
          <div class="tablecolumn uc s2 tabletitle">Bairro</div>
          <div class="tablecolumn uc s2 tabletitle">Cidade</div>
          <div class="tablecolumn uc s1 tabletitle">UF</div>
          <div class="tablecolumn uc s2 tabletitle">CEP</div>
          <div class="tablecolumn uc s3 tabletitle">Telefones</div>
        </div>
        <div class="tableline">
          <div class="tablecolumn uc s3"><%= data.consulta.resposta.localizacao.tipo %> <%= data.consulta.resposta.localizacao.endereco %> <%= data.consulta.resposta.localizacao.numero %> <%= data.consulta.resposta.localizacao.complemento %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.localizacao.bairro %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.localizacao.cidade %></div>
          <div class="tablecolumn uc s1"><%= data.consulta.resposta.localizacao.uf %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.localizacao.cep %></div>
          <div class="tablecolumn uc s3">
            <script>
              document.write(formatarTelefone("<%= data.consulta.resposta.localizacao.ddd1 %>", "<%= data.consulta.resposta.localizacao.telefone1 %>"));
            </script>
            / 
            <script>
              document.write(formatarTelefone("<%= data.consulta.resposta.localizacao.ddd2 %>", "<%= data.consulta.resposta.localizacao.telefone2 %>"));
            </script>
            / 
            <script>
              document.write(formatarTelefone("<%= data.consulta.resposta.localizacao.ddd3 %>", "<%= data.consulta.resposta.localizacao.telefone3 %>"));
            </script> 
          </div>
        </div>
      <% } %>
    </div>
    <div class="page-break"></div>
    <!-- Ações -->
    <div class="tablebody avoid-break">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">Ações</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.acoes).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
          <% data.consulta.resposta.acoes.forEach(function(acao) { %>
            <%= acao.nome %>
          <% }); %>
      <% } %>
    </div>
    <!-- Alertas -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Alertas</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.alertas).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
          <% data.consulta.resposta.alertas.forEach(function(alerta) { %>
            <%= alerta.nome %>
          <% }); %>
      <% } %>
    </div>
    <!-- Débitos -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">Débitos no scpc</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.debitos).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
          <% data.consulta.resposta.debitos.forEach(function(debito) { %>
            <%= debito.nome %>
          <% }); %>
      <% } %>
    </div>
    <!-- Protestos -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">protestos</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.protestos).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <% data.consulta.resposta.protestos.forEach(function(protesto) { %>
          <%= protesto.nome %>   
        <% }); %>
      <% } %>
    </div>
    <!-- Protestos -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">consultas Realizadas por segmento</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.consultas_por_segmento).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s3 tabletitle">Data</div>
          <div class="tablecolumn uc s3 tabletitle">Documento</div>
          <div class="tablecolumn uc s3 tabletitle">Informante</div>
          <div class="tablecolumn uc s3 tabletitle">Ocorrência</div>
        </div>
        <% data.consulta.resposta.consultas_por_segmento.registro.forEach(function(consulta,index) { %>
          <div class="tableline <%= index % 2 === 0 ? 'even' : '' %>">
            <div class="tablecolumn uc s3"><%= consulta.data %></div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatCPF("<%= consulta.documento %>", "<%= consulta.pessoa %>"));
              </script>
            </div>
            <div class="tablecolumn uc s3"><%= consulta.informante %></div>
            <div class="tablecolumn uc s3"><%= consulta.ocorrencia %></div>
          </div>
        <% }); %>
      <% } %>
    </div>
    <!-- Confirmação de telefone -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Confirmação de telefone</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.telefones).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s3"><%= data.consulta.resposta.telefones.telefone %></div>
        </div>
      <% } %>
    </div>
    <!-- Telefones Vinculados -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Telefones Vinculados</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.telefones_vinculados).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline even">
          <div class="tablecolumn uc s3 tabletitle">Endereço</div>
          <div class="tablecolumn uc s2 tabletitle">Bairro</div>
          <div class="tablecolumn uc s2 tabletitle">Cidade</div>
          <div class="tablecolumn uc s1 tabletitle">UF</div>
          <div class="tablecolumn uc s2 tabletitle">CEP</div>
          <div class="tablecolumn uc s3 tabletitle">Telefone</div>
        </div>
        <div class="tableline">
          <div class="tablecolumn uc s3"><%= data.consulta.resposta.telefones_vinculados.registro.endereco %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.telefones_vinculados.registro.bairro %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.telefones_vinculados.registro.cidade %></div>
          <div class="tablecolumn uc s1"><%= data.consulta.resposta.telefones_vinculados.registro.uf %></div>
          <div class="tablecolumn uc s2"><%= data.consulta.resposta.telefones_vinculados.registro.cep %></div>
          <div class="tablecolumn uc s3">
            <script>
              document.write(formatarTelefone("<%= data.consulta.resposta.telefones_vinculados.registro.ddd %>", "<%= data.consulta.resposta.telefones_vinculados.registro.telefone %>"));
            </script> 
          </div>
        </div>
      <% } %>
    </div>
    <!-- Confirmação de CEP -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Confirmação de CEP</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.confirmacao_cep).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.confirmacao_cep %></div>
        </div>
      <% } %>
    </div>
    <!-- Cheques sem fundo - CCF -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">Cheques sem fundo - CCF</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.ccf).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.ccf %></div>
        </div>
      <% } %>
    </div>
    <!-- cheque_motivo_21 -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">cheques sustados motivo 21</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.cheque_motivo_21).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.cheque_motivo_21 %></div>
        </div>
      <% } %>
    </div>
    <!-- devolucao_informada_pelo_usuario -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">devolucões informadas pelo usuário</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.devolucao_informada_pelo_usuario).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.devolucao_informada_pelo_usuario %></div>
        </div>
      <% } %>
    </div>
    <!-- cheque_talao_sustado -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">cheque e/ou talão sustado</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.cheque_talao_sustado).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.cheque_talao_sustado %></div>
        </div>
      <% } %>
    </div>
    <!-- resumo_devolucoes_informadas_pelo_ccf -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">resumo das devoluções informadas pelo ccf</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.resumo_devolucoes_informadas_pelo_ccf).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.resumo_devolucoes_informadas_pelo_ccf %></div>
        </div>
      <% } %>
    </div>
    <!-- resumo_consultas_anteriores_cheque -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">resumo das consultas anteriores ao cheque</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.resumo_consultas_anteriores_cheque).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.resumo_consultas_anteriores_cheque %></div>
        </div>
      <% } %>
    </div>
    <!-- historico_cheque_informado -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">histórico de cheque informado</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.historico_cheque_informado).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.historico_cheque_informado %></div>
        </div>
      <% } %>
    </div>
    <!-- consultas_anteriores_cheque -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">consultas anteriores ao cheque</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.consultas_anteriores_cheque).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.consultas_anteriores_cheque %></div>
        </div>
      <% } %>
    </div>
    <!-- resumo_devolucoes_informadas_pelo_usuario -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">resumo das devolucoes informadas pelo usuário</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.resumo_devolucoes_informadas_pelo_usuario).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <div class="tableline">
          <div class="tablecolumn uc s12"><%= data.consulta.resposta.resumo_devolucoes_informadas_pelo_usuario %></div>
        </div>
      <% } %>
    </div>
    <!-- grafias -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">resumo das devolucoes informadas pelo usuário</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.grafias).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <% data.consulta.resposta.grafias.registro.forEach(function(grafia,index) { %>
          <div class="tableline even" style="border-top: 5px #cccccc solid;">
            <div class="tablecolumn uc s2 tabletitle">Nome</div>
            <div class="tablecolumn uc s3"><%= grafia.nome %></div>
            <div class="tablecolumn uc s2 tabletitle">Documento</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatCPF("<%= grafia.documento %>"));
              </script>
            </div>
            <div class="tablecolumn uc s2 tabletitle">Nascimento</div>
            <div class="tablecolumn uc s3"><%= grafia.data_nascimento %></div>
          </div>
          <div class="tableline ">
            <div class="tablecolumn uc s2 tabletitle">Endereço</div>
            <div class="tablecolumn uc s3"><%= grafia.tipo %> <%= grafia.endereco %> <%= grafia.numero %></div>
            <div class="tablecolumn uc s2 tabletitle">complemento</div>
            <div class="tablecolumn uc s3"><%= grafia.complemento %></div>
            <div class="tablecolumn uc s2 tabletitle">Bairro</div>
            <div class="tablecolumn uc s3"><%= grafia.bairro %></div>
          </div>
          <div class="tableline even">
            <div class="tablecolumn uc s2 tabletitle">Cidade</div>
            <div class="tablecolumn uc s3"><%= grafia.cidade %></div>
            <div class="tablecolumn uc s2 tabletitle">uf</div>
            <div class="tablecolumn uc s3"><%= grafia.uf %></div>
            <div class="tablecolumn uc s2 tabletitle">CEP</div>
            <div class="tablecolumn uc s3"><%= grafia.cep %></div>
          </div>
          <div class="tableline ">
            <div class="tablecolumn uc s2 tabletitle">Telefone 1</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatarTelefone("<%= grafia.ddd1 %>", "<%= grafia.telefone1 %>"));
              </script> 
            </div>
            <div class="tablecolumn uc s2 tabletitle">Telefone 2</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatarTelefone("<%= grafia.ddd2 %>", "<%= grafia.telefone2 %>"));
              </script> 
            </div>
            <div class="tablecolumn uc s2 tabletitle">Telefone 3</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatarTelefone("<%= grafia.ddd3 %>", "<%= grafia.telefone3 %>"));
              </script> 
            </div>
          </div>
        <% }); %>
      <% } %>
    </div>
    <!-- participacoes -->
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn uc s12">Participações</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.participacoes).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Não contam informações na base consultada</div>
        </div>
      <% } else { %>
        <% data.consulta.resposta.participacoes.registro.forEach(function(participacao,index) { %>
          <div class="tableline even" style="border-top: 5px #cccccc solid;">
            <div class="tablecolumn uc s2 tabletitle">Razão Social</div>
            <div class="tablecolumn uc s5"><%= participacao.razao_social %></div>
            <div class="tablecolumn uc s2 tabletitle">Documento</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatCPF("<%= participacao.documento %>"));
              </script>
            </div>
            <div class="tablecolumn uc s2 tabletitle">Data de entrada</div>
            <div class="tablecolumn uc s2"><%= participacao.data_entrada %></div>
          </div>
          <div class="tableline">
            <div class="tablecolumn uc s2 tabletitle">observação</div>
            <div class="tablecolumn uc s5"><%= participacao.observacao %></div>
            <div class="tablecolumn uc s2 tabletitle">Percentual</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatPercentual("<%= participacao.percentual %>"));
              </script>
            </div>
            <div class="tablecolumn uc s2 tabletitle">Valor</div>
            <div class="tablecolumn uc s2"><%= participacao.moeda %> <%= participacao.valor %></div>
          </div>
          <div class="tableline even">
            <div class="tablecolumn uc s2 tabletitle">Função</div>
            <div class="tablecolumn uc s5"><%= participacao.funcao_socio %></div>
            <div class="tablecolumn uc s2 tabletitle">Documeno Sócio</div>
            <div class="tablecolumn uc s3">
              <script>
                document.write(formatCPF("<%= participacao.documento_socio %>"));
              </script>
            </div>
            <div class="tablecolumn uc s2 tabletitle">Tipo de sócio</div>
            <div class="tablecolumn uc s2"><%= participacao.tipo_socio %></div>
          </div>
        <% }); %>
      <% } %>
    </div>
    <!-- Falencias -->
    <div class="tablebody">
      <div class="tablehead bg-02">
        <div class="tablecolumn uc s12">Falências</div>
      </div>
      <% if (Object.keys(data.consulta.resposta.falencias).length === 0) { %>
        <div class="tableline">
          <div class="tablecolumn uc s12 tabletitle">Nada Consta</div>
        </div>
      <% } else { %>
        <div class="tablecolumn uc s12"><%= data.consulta.resposta.falencias %></div>
      <% } %>
    </div>
    <!-- FOOTER -->
    <!-- <div class="footer">
      <div class="whatsapp-number">
        <font>Whatsapp:</font> <a href="#"><%= data.company.phone %></a>
      </div>
      <div>
        <font>E-mail:</font> <a href="#"><%= data.company.email %></a>
      </div>
      <div>
        <font>Site:</font> <a href="#"><%= data.company.site %></a>
      </div>
    </div> -->
  </body>
</html>
