<!DOCTYPE html>
<html>
  <head>
    <style>
      :root{
        --border:1px #ccc solid;
      }
      *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      body {
        padding: 20px 18px;
      }
      .footer{
        position: absolute;
        bottom: 20px;
        right: 22px;
        display: flex;
        flex-direction: column;
        align-items: end;
      }
      .footer > div{
        display: flex;
        width: 300px;
        justify-content: space-between;
      }
      .footer > div > a{
        text-decoration: none;
      }
      .footer svg{
        max-height: 16px;
        width: auto;
        display: block;
      }
      .banner {
        width: 20rem;
        height: 6rem;
      }
      ul.client-info {
        list-style: none;
      }
      ul.client-info > li {
        text-align: start;
      }
      ul.footer-contact {
        list-style: none;
      }
      ul.footer-contact > li {
        text-align: end;
      }
      table {
        border-collapse: collapse;
      }
      table,
      th,
      td {
        width: 100%;
        border: 1px solid black;
      }
      table {
        margin: 2rem 0;
      }
      .tablebody{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-right: var(--border);
        border-bottom: var(--border);
      }
      .tableline, .tablehead{
        font-size: 14px;
        display: flex;
        width: 100%;
        box-shadow: 0px 0px 0px 1000px #fff inset;
      }
      .tableline.even{
        box-shadow: 0px 0px 0px 1000px #ddd inset;
      }
      .tablecolumn{
        box-sizing: border-box;
        width: calc(100% / 12);
        border-left:var(--border);
        padding: 4px 0;
        min-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .tablecolumn svg{
        max-height: 20px;
        width: auto;
      }
      .tablehead .tablecolumn{
        box-shadow: 0px 0px 0px 1000px #666 inset;
        text-shadow: 0px 0px 0px #fff;
        color:transparent;
        font-weight: 600;
        border-left:1px #666 solid;
      }
      .tablecolumn.s2{
        width: calc(calc(100% / 12) * 2);
      }
      .tablecolumn.s3{
        width: calc(calc(100% / 12) * 3);
      }
      .tablecolumn.s4{
        width: calc(calc(100% / 12) * 4);
      }
      .tablecolumn.s5{
        width: calc(calc(100% / 12) * 5);
      }
      .tablecolumn.s6{
        width: calc(calc(100% / 12) * 6);
      }
      .tablecolumn.s7{
        width: calc(calc(100% / 12) * 7);
      }
      .tablecolumn.s8{
        width: calc(calc(100% / 12) * 8);
      }
      .tablecolumn.s9{
        width: calc(calc(100% / 12) * 9);
      }
      .tablecolumn.s10{
        width: calc(calc(100% / 12) * 10);
      }
      .tablecolumn.s11{
        width: calc(calc(100% / 12) * 11);
      }
      .tablecolumn.s12{
        width: calc(calc(100% / 12) * 12);
      }
      .tablecolumn.s2{
        width: calc(calc(100% / 12) * 2);
      }
    </style>
  </head>
  <body>
    <div style="display:flex; justify-content: space-between;width: 90%;margin: 0 auto;">
      <svg  
        class="banner"
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="1838.667"
        height="544"
        viewBox="0 0 1379 408"
      >
        <path
          d="M249.5 64.7c-2.7 4.3-5.9 9.5-7.3 11.6-1.4 2-2.2 4-1.9 4.3.3.4 3.6 0 7.2-.7 5.3-1 8-1 13.7-.1 3.9.7 7.3 1.1 7.5.8.3-.3-12.7-21.8-14.2-23.4-.2-.2-2.4 3.2-5 7.5zM243.5 108.7c-14.9 4.1-18 5.5-18.3 8.6-.2 1.5-.8 2.7-1.3 2.7s-.9.5-.9 1c0 .6-.8 2.9-1.9 5.3-3.4 7.8-4.2 10-3.7 10.4.2.2 5.7-.8 12.2-2.3 6.6-1.4 13.3-2.8 14.9-3.1 1.7-.2 4.7-.8 6.8-1.3 2-.4 5.4-.4 7.5.1 2 .5 5.1 1.1 6.7 1.4 1.7.2 8 1.6 14.2 3 6.1 1.4 11.5 2.5 11.8 2.5.4 0 .3-1 0-2.3-.7-2.2-1.4-4.1-5.4-12.9-1.2-2.6-2.1-5.1-2.1-5.7 0-.6-1-1.5-2.1-2.2-2.5-1.3-26.4-7.9-28.2-7.8-.7.1-5.2 1.2-10.2 2.6zM572.4 119.9c-12.7 2-22.2 7-31.2 16.5-10.9 11.5-15.2 22.5-15.2 38.6 0 35.9 32.2 61.2 68.2 53.6 27.9-6 46.8-32.8 42.9-61.3-2.8-20.2-18.8-39.4-37.6-45.2-7.3-2.3-20-3.3-27.1-2.2zm22.2 17.2c8.8 3.3 15.2 9.2 19.9 18.2 3.6 7.1 3.9 8.6 4.3 17.1.4 7.7 0 10.6-1.7 15.7-7.6 22.8-32.3 32.8-53.4 21.7-7.2-3.9-12-9.2-16.1-17.7-2.9-6.2-3.1-7.3-3.1-17.6 0-12 1.1-15.8 7.5-24.9 8.5-12.5 27.6-18.1 42.6-12.5zM787 120c-23.2 3.6-40.7 20.1-45.5 42.8-1.9 8.7-1.9 13.5.1 23 2.9 14.3 11.9 27.8 23.4 35.2 11.5 7.4 28.4 10.5 41.7 7.7 9.1-2 21.3-8.3 28.4-14.6l5.4-4.9-6-6.1-5.9-6.1-3.1 2.9c-5.2 5-14.5 10.9-19.7 12.7-6.9 2.3-18.6 1.5-25.1-1.6-24.1-11.5-29.8-46-10.7-65 2.7-2.8 7.6-6.3 10.8-7.8 4.9-2.3 7-2.7 14.7-2.7 8.5 0 9.4.2 16 3.8 3.9 2 9.4 5.8 12.4 8.4l5.3 4.6 5.3-5.9c3-3.2 5.4-6.2 5.5-6.6 0-1.2-8.6-8.1-15.3-12.1-11-6.7-25.4-9.6-37.7-7.7zM983 120.1c-21.7 3.1-39 18.5-45.1 39.9-1.9 6.7-1.6 22.4.5 29.4 4.6 15.3 15.1 28.4 27.6 34.4 13.7 6.5 29.8 7.7 43.2 3.1 9.1-3 26.8-14.7 26.8-17.7 0-.4-2.6-3.4-5.8-6.5l-5.8-5.8-2 2.2c-3.5 3.9-15.5 11.8-20.6 13.5-3.6 1.2-7.2 1.5-12.7 1.2-17.6-1-31.4-14.4-34-32.8-3.3-23.9 11.9-44.4 34.2-45.8 5.6-.3 8.5 0 13 1.6 5.7 2.1 16.4 9 20.1 13.1 1.1 1.1 2.2 2.1 2.6 2.1.4 0 3.1-2.7 6-6.1l5.2-6-2.3-2.6c-7-7.5-22.6-15.5-33.6-17.2-7.9-1.2-9.3-1.2-17.3 0zM450 174.5V228h18v-49h38.2l-.4-7.8-.3-7.7-18.7-.3-18.8-.2v-26h50v-16h-68v53.5zM654 174.5V228h18v-42h2.3c1.7 0 6.6 5.1 20.2 21l17.9 21H735.1l-1.8-2.3c-1-1.3-9.2-10.8-18.3-21.1-9.1-10.3-16.6-19.1-16.8-19.5-.1-.4 2.2-1.5 5.2-2.4 6.7-2.1 13.2-7.8 17.1-14.8 2.7-4.8 3-6.3 3-13.9-.1-7.2-.5-9.4-2.8-14.2-4.7-9.6-13.7-15.7-26.7-17.7-3.6-.6-14-1.1-23.2-1.1H654v53.5zm40.4-36.4c8.1 2.2 13 12.1 10.5 21.3-2.4 8.9-7.5 11.6-22.4 11.6H672v-34h9.3c5 0 11 .5 13.1 1.1zM851.3 150.2c.4 16.1.7 40.2.7 53.5V228h71v-16h-53v-33h41.1l-.3-7.8-.3-7.7-20.2-.3-20.3-.2v-26h49l.1-4.8c.1-2.6.2-6.2.3-8l.1-3.2h-68.8l.6 29.2zM1048.8 161.5c.2 37.8.4 40.9 2.3 45.9 6 16.1 25.2 25 47 21.8 14.5-2.1 24.4-9.3 29.1-21.1 2.1-5.4 2.2-7.1 2.6-46.4l.4-40.7h-19.1l-.3 39.7c-.3 44.8-.4 45-8 50-7.8 5.2-22.2 4.1-29-2.2-6.4-5.9-6.3-5.2-6.6-48.3l-.3-39.2h-18.4l.3 40.5zM1148 147.2c0 14.6.3 38.7.7 53.6l.6 27.2H1167v-42l2.3.1c1.6 0 6.9 5.5 20.1 21l17.8 20.9h23l-5-5.8c-2.7-3.1-9.6-10.9-15.2-17.2-16.3-18.4-17.6-20-15.9-21.1.8-.5 2.1-.9 2.9-.9 2.9 0 11.8-5.9 14.9-9.9 4.6-5.8 6.4-10.8 6.4-18.1.1-15.8-7.4-26.2-22.8-31.6-4-1.4-9.4-1.8-26.2-2.2l-21.3-.4v26.4zm36-10.1c11.7 1.9 16 6.6 16 17.6 0 4-.6 6.8-2 9-3.4 5.7-6.2 6.7-19.2 7.3l-11.8.5V136h5.3c2.8 0 8.1.5 11.7 1.1zM1237 174.5V228h72v-16h-54v-33h41v-16l-20.2-.2-20.3-.3v-25l24.8-.3 24.7-.2v-16h-68v53.5zM240 159.2c-7.4 2.1-18.5 5.3-24.6 7l-11.1 3.1-2.3 5.1c-4.1 9.2-7 16.9-6.5 17.4.5.6 22.6-3.8 43.5-8.5l15.5-3.6 16 3.6c24.3 5.4 42.6 8.9 43.2 8.3.4-.3-.2-2.5-1.2-4.8-.9-2.4-2.1-5.2-2.6-6.3-.4-1.1-1.7-4-2.8-6.5l-2-4.6-13.8-3.8c-7.6-2.1-15.6-4.4-17.8-5.2-4.8-1.6-18.7-5.4-19.5-5.3-.3.1-6.6 1.9-14 4.1zM168.8 187.2c-4.1 6.2-7.8 11.8-8.1 12.5-.6.9.2.9 3 .2 9.1-2.4 9.6-2.9 12.9-13.9.9-2.9 2.3-6.4 3.1-7.7 1.5-2.2 1.4-2.3-1-2.3-2 0-3.7 1.9-9.9 11.2zM329 176.4c0 .5.5 1.7 4.4 10.8.9 2 1.6 4.2 1.6 5 .1 2.8 3.7 5.9 7.9 6.9 2.4.5 4.5.8 4.7.7.7-.8-15.4-23.3-16.9-23.6-.9-.2-1.7-.1-1.7.2zM234.5 210.4c-11 2.9-24.7 6.7-30.5 8.4-5.8 1.7-13.3 3.9-16.7 4.9-4.3 1.2-6.3 2.2-6.3 3.3 0 .9-.4 2-.9 2.5-1 1.2-7.3 17.7-6.8 18.1.1.1 4.2-.6 9-1.7 4.8-1 10.2-2.1 12-2.4 4.7-.6 15.1-2.9 39.2-8.6l21.6-5 20.7 5c11.4 2.7 24.5 5.7 29.2 6.6 7.2 1.4 21.4 4.3 29.8 6.1 2.4.5 2.6.2 1.3-2.4-1.8-3.5-6-13.8-6.7-16.5-.4-1.8-1.6-3.2-3.3-3.8-3.9-1.5-42.5-12.2-70.1-19.3-.8-.3-10.5 1.9-21.5 4.8zM146.6 233.3c-9.2 1.9-10 2.2-11.8 5.4-1.1 1.8-2.4 3.3-2.9 3.3s-.8.3-.7.7c.3.9-2.9 6-5 8.1-.7.8-2 2.8-2.9 4.5-.9 1.8-2.1 3.5-2.7 3.9-1.8 1.2-.2 1 13.7-2.3 14.5-3.4 16.7-4.3 16.7-6.4 0-.7.4-1.5.8-1.7 1.5-.6 5-7.4 5.6-11.1.4-2 1.2-3.7 1.7-3.7.6 0 .4-.7-.5-1.5-.8-.8-1.6-1.5-1.8-1.4-.2.1-4.7 1-10.2 2.2zM350.6 232.6c-.3.8.1 2.5.9 3.7.8 1.2 1.5 2.8 1.5 3.7 0 .9.9 3.3 2 5.5s2 4.5 2 5.1c0 .7.8 1.5 1.8 1.9 2.5 1.1 27.6 7.3 28.1 6.9.2-.1-3.2-5.6-7.6-12.1l-7.9-11.8-6.5-1.6c-11.7-2.9-13.6-3.1-14.3-1.3zM248 257c-1.4.5-15.3 4.1-31 8-15.7 4-31 8-34 9s-9.1 2.8-13.5 4c-4.4 1.1-8.6 2.4-9.2 2.8-.7.4-2.7 4.8-4.4 9.7-1.7 5-3.6 9.6-4.2 10.3-.5.7-.8 1.5-.5 1.7.9 1 40.3-7.3 76.9-16.1l26.7-6.4 22.8 5.5c31.3 7.6 55.2 13 61.9 13.9 2.2.3 7.3 1.2 11.3 2 4 .9 7.5 1.6 7.7 1.6.2 0-.2-1.2-.9-2.8-2.9-5.7-4.6-10.3-4.6-12.2 0-1.1-.4-2-.9-2s-1.1-1.1-1.5-2.4c-.6-2.4-4.5-4.3-14.1-6.6-2.7-.7-5.4-1.3-6-1.5-.5-.1-1.2-.2-1.5-.2-.3 0-1.4-.4-2.5-1-3.4-1.9-69.1-18.3-72.6-18.2-1.9 0-4.5.4-5.9.9zM671.1 259.9c-1.2 1.1-1.8 2.1-1.4 2.4.4.3 1.6-.6 2.6-1.9 2.2-2.9 1.8-3.1-1.2-.5zM1079 260c-1.2 2.3-.5 2.6 1.6.6 1.6-1.7 1.8-2.6.4-2.6-.5 0-1.4.9-2 2zM533.5 267c-.8 1.3-.9 39-.1 39h2.1c1.2 0 1.4-2.7 1.2-17.5-.2-14.7 0-17.5 1.2-17.5.8 0 1.2.3.8.6-.3.3.8 2.8 2.4 5.5 1.6 2.8 2.9 5.4 2.9 5.9 0 .6.4 1 1 1 .5 0 1.2 1.1 1.6 2.5.3 1.4.9 2.5 1.3 2.5s.8.6.8 1.3c0 .6 1.2 3.1 2.6 5.4 1.5 2.4 2.7 4.7 2.7 5.3 0 .5.4 1 .9 1s1.2 1.1 1.5 2.5c.6 2.5 2.7 3.2 6 1.9 1.4-.5 1.6-3.2 1.6-19.9s-.2-19.4-1.6-19.9c-.9-.3-1.8-.6-2-.6-.2 0-.4 7.9-.4 17.5 0 16.1-.8 20.9-2.5 15.5-.3-1.1-1.1-2-1.6-2s-.8-.3-.7-.8c.2-.4-.8-2.5-2.1-4.7s-4.6-8.3-7.3-13.5c-2.7-5.2-5.7-10.1-6.6-10.8-1.9-1.5-4.8-1.6-5.7-.2zM578.8 266.8l-2.8.3v40l12.7-.3c11.5-.3 12.8-.5 13.1-2.1.4-1.8-.4-1.9-10.7-1.5l-11.1.3V288h10c8.2 0 10-.3 10-1.5s-1.8-1.5-10-1.5h-10v-15.5l11.1.3c9.9.4 11.1.2 10.7-1.2-.2-1.4-1.9-1.7-10.3-1.9-5.5-.1-11.2-.1-12.7.1zM617.1 269.1c-6.6 4.7-8.6 9.1-8.6 18.7 0 6.3.4 8.5 1.5 9.2.8.5 1.1 1 .6 1-.5 0 .7 1.5 2.6 3.4 5.1 4.9 12.6 6.8 18.5 4.5 3.1-1.2 6.5-4.4 5.6-5.3-.4-.3 0-.6.9-.6s1.4.8 1.3 2.2c-.3 3.3.5 4.8 2.1 4.1 1.1-.4 1.4-2.7 1.4-9.4V288h-7c-5.6 0-7 .3-7 1.5 0 1.1 1.2 1.5 5.1 1.5h5.1l-.7 3.2c-1.1 4.8-2.2 6.6-5.4 8.2-5.9 3.1-13.1 1.7-17.3-3.3-1-1.2-1.5-2.1-1.2-2.1.4 0 .1-.7-.7-1.6-.8-1-1.2-4.1-1.2-8.4.2-10.4 4-16.5 11.5-18.3 5.8-1.5 12.6 2.1 14.7 7.6.6 1.5 1.7 2.7 2.6 2.7 4.7 0-2.3-10-8.3-11.8-6.2-1.9-11.9-1.2-16.1 1.9zM663.3 267.1c-.7.7-1.3 1-1.3.5 0-.4-1.3.1-3 1.1-1.6.9-3 2.2-3 2.8 0 .6-.9 1.8-2 2.8-1.1.9-2 2.2-2.1 2.9-.1 1.6-.6 4.5-1.4 7.5-.3 1.3 0 4.3.7 6.6.6 2.3 1.2 4.4 1.3 4.7.4 2.2 5.4 7.9 7.9 9.1 4.3 2 13.3 1.8 18.1-.4 7.9-3.6 11.9-14.7 9.2-25.4-1.4-5.5-5.8-10.5-10.7-12.1-4.1-1.4-12.4-1.4-13.7-.1zm14.8 4.5c3.8 3.5 5.3 7.5 5.3 14.9 0 11.3-5 17.5-13.9 17.5-8.7 0-13.7-6.3-13.8-17.5-.1-11.6 5.7-18.1 15.6-17.2 2.7.2 5.6 1.2 6.8 2.3zM709.1 266.7c-4.5.9-12.7 7.6-11.5 9.4.2.4-.1.9-.7 1.1-.6.2-1.4 3.5-1.6 7.4-.6 8 1.1 13 5.7 17.4 4.5 4.2 7.4 5.3 13.4 4.8 8.1-.7 16.4-7.1 14.9-11.6-.8-2.3-3.3-1.2-4.7 2.2-.8 1.8-2.4 4.1-3.7 5-4.5 3.1-15.8 1.3-18.2-2.9-.4-.8-.7-1.6-.6-1.7.1-.2-.3-1.4-1-2.7-.8-1.4-1.3-5.5-1.2-9.8.1-5.9.5-7.8 2.1-9.5 1.1-1.2 2-2.5 2-3 0-1.6 6.1-3.8 10.4-3.8 3.6 0 5.2.6 8.1 3.1 1.9 1.7 3.5 4 3.5 5 0 1.2.7 1.9 2 1.9 2.6 0 2.5-1.2-.2-6-3.5-5.9-9.6-8-18.7-6.3zM741.2 266.8c-.9.7-1.2 5.4-1 20.3.3 17.5.5 19.4 2.1 19.7 1.6.3 1.7-1.2 1.7-20.2 0-11.3-.3-20.6-.7-20.6-.5 0-1.4.4-2.1.8zM762.6 268.3c-2.2 1.2-5.2 4.2-6.8 6.6-2.4 3.8-2.8 5.5-2.8 11.2 0 9.7 1 11.7 8.7 18.2 2.7 2.3 11.9 3.3 16.5 1.8 4.2-1.5 9.7-6 10.3-8.6.3-1.1 1-4.1 1.6-6.7 1.5-6.8-.3-14.8-4.4-19.2-5.5-5.8-15.9-7.2-23.1-3.3zm16.5 3c4.1 2.7 6.1 6.6 6.7 12.9 1.4 14.4-8.9 23.6-20.3 18.2-9.9-4.7-10.2-26.9-.4-31.7 4.8-2.3 10-2.1 14 .6zM804.9 267.7c-3.5 2.1-6.3 7.5-5.5 10.6.6 2.4 5.1 7.6 6.7 7.8 1.4.2 2.1.4 8 2.2 4.1 1.2 5.9 2.3 6.7 4.2 3 6.6-.2 11.5-7.4 11.5-5.6 0-8.5-1.4-10.6-5.1-1.7-2.9-4.8-4-4.8-1.6 0 1.5 2.8 5.7 5 7.4.8.7 3.4 1.5 5.7 1.9 9.8 1.5 17.3-3 17.3-10.3 0-5-2-7.8-7.3-10.1-4.4-1.9-9.7-3.6-10.8-3.4-1.2.2-4-3.5-4.4-5.8-.6-3.3 1.2-6 5.2-7.7 3.3-1.3 4-1.3 7.4.2 2.5 1.2 4.1 2.8 4.8 4.7.7 2.1 1.6 2.8 2.8 2.6 2.7-.6 1.7-3.8-2.2-7.6-3-2.8-4.1-3.2-8.7-3.2-3.1 0-6.4.7-7.9 1.7zM848.1 286.8c0 18 .1 20.3 1.5 19.8.9-.3 2-.6 2.5-.6.6 0 .9-7.7.9-19.4l-.1-19.4-2.4-.4-2.3-.5-.1 20.5zM864.1 286.6c0 18.9.1 20.5 1.7 20.2 1.5-.3 1.7-2.2 2-17.1.1-9.2.6-16.7 1.1-16.7.9 0 1.4 1.2 5.2 12 1.2 3.6 2.6 6.9 3.1 7.5.4.5.8 1.5.8 2.2 0 .7.9 3.6 2 6.5 1.6 4.5 2.4 5.3 4.5 5.3 2.2 0 2.8-.9 5.1-7.5 7.1-20 9.8-27 10.4-27 .4 0 .7 7.8.8 17.2 0 11.8.4 17.3 1.1 17.2.6-.1 1.5-.2 2.1-.3 1.4-.2 1.1-39.1-.4-39.2-.6 0-2.1-.2-3.4-.3-1.2-.2-2.7.3-3.3 1.1-.6.7-.9 1.3-.6 1.3.3 0-.5 2.7-1.8 6s-2.2 6-2 6c.2 0-.7 3-2.2 6.7-1.4 3.8-2.6 7.2-2.8 7.8-1 4.4-1.9 6.5-2.6 6.5-.8 0-2.6-3.3-3.5-6.5-1.1-4.1-7.7-23.3-8.5-24.7-.5-1-.9-2.5-.9-3.3 0-1.1-1.1-1.5-3.9-1.5h-3.9l-.1 20.6zM924.7 267.5c-3.9 1.3-7.7 4.5-7.7 6.4 0 .5-.5 1.1-1.1 1.3-.5.2-1.5 3.5-2.1 7.3-2.1 14.2 4.6 23.6 17.1 24.1 7.8.3 9-.1 13.9-4.4 5.1-4.6 6.2-7.5 6.2-15.9 0-5.2-.5-7.5-2.5-10.8-2.1-3.7-6.7-7.9-8.7-8-.3 0-1-.3-1.4-.8-1.2-1.2-9.6-.7-13.7.8zm14 3.2c4.7 2.2 7.3 7.8 7.3 15.8 0 11.1-5.2 17.5-14.3 17.5-4.2 0-9.7-3.5-11.7-7.5-1.9-4-2-16.1 0-20 3.4-6.6 11.6-9.2 18.7-5.8zM963 266.7l-2.5.4.2 19.1c.1 14.5.5 19.3 1.5 19.9 1.6 1.1 11 1.1 16.3 0 4.3-.8 8.5-3.7 8.5-5.8 0-.7.4-1.3.9-1.3 1.2 0 1.2-5-.1-8.3-.6-1.5-1.6-2.7-2.3-2.7-.7 0-1.9-.7-2.6-1.6-1.1-1.4-1-1.8 1-3.3 1.4-1.1 2.4-3.2 2.8-5.9.5-3.7.2-4.5-2.7-7.2-2.9-2.7-3.9-3-9.5-3-3.5 0-6.9-.2-7.7-.3-.7-.2-2.4-.2-3.8 0zm17.6 5.9c2 1.9 2.4 3.1 2 5.2-1.1 4.6-4.1 6.2-11.2 6.2H965v-14h6.5c5.7 0 6.9.3 9.1 2.6zm1.5 17c1.3 1.2 1.9 3.1 1.9 6 0 5.9-2.3 7.4-11.7 7.4-7.1 0-7.2 0-7.5-2.8-.2-1.5-.1-5.1.1-8.1l.3-5.4 7.5.6c5.1.4 8.1 1.1 9.4 2.3zM999.8 266.8c-1.5.3-1.7 2.4-1.8 18.6 0 10 .2 19 .6 19.9.8 2.2 3 2.2 3.8 0 .9-2.2.6-36.8-.3-38-.3-.5-1.4-.7-2.3-.5zM1015.2 266.9c-.9.6-1.2 5.4-1 20.2l.3 19.4 11.9.3c13.3.3 14.9 0 13.9-2.3-.5-1.4-2.1-1.6-11.2-1.3l-10.6.3-.3-18c-.1-9.9-.6-18.3-1-18.7-.4-.4-1.3-.4-2 .1zM1077.3 266.8c-1.8.3-2.9 1.7-3.8 5.2-.1.3-.7 1.8-1.4 3.5-1.7 4.1-4.1 10.7-4.6 12.5-.2.8-.4 1.5-.5 1.5-.1 0-.4 1.1-.6 2.5-.2 1.3-.8 2.7-1.2 3-1.1.7-4.3 11.2-3.7 11.9 1.5 1.4 4-2.1 5.9-8.2l2.1-6.7h8.2c8.1 0 9 .4 9.8 3.7.7 3 3.1 9.2 3.8 10 .4.4 1.5.8 2.3.9 1.7.3 1.4-2.5-1.1-8.1-1.7-3.9-3.9-9.8-4.1-10.8-.1-.4-.3-.9-.4-1.2-.1-.3-.3-.8-.5-1.3-.1-.4-.4-1.4-.8-2.2-2.1-5.4-4.9-13.7-5-14.7-.1-1.5-1.5-2-4.4-1.5zm4.1 12.4c1.4 4.4 2.6 8.5 2.6 9 0 .4-2.7.8-6 .8-4.1 0-6-.4-6-1.2 0-2.1 5.4-16.8 6.1-16.8.4 0 1.9 3.7 3.3 8.2zM1106.8 266.8l-3.8.3v19.4c0 15.6.3 19.4 1.4 19.8 2.3.9 2.6-.2 2.6-9V289h7.3c3.9 0 7.7.4 8.3.8 1.5 1 2.5 4 3.1 9.2.6 5.5 1.9 8 3.9 8 1.1 0 1.4-.5.9-1.8-.3-.9-.9-4-1.2-6.7-.3-2.8-1.4-6.5-2.4-8.3-2.3-4-2.4-5.2-.4-5.2 2.4 0 4.9-6.2 4.1-10.3-1.2-6.3-9.7-9.1-23.8-7.9zm17.7 5.2c2.6 2.9 2.5 8.5-.3 11.3-1.9 1.9-3.3 2.2-9.5 2.2h-7.2l-.3-7.8-.3-7.7h7.9c6.7 0 8.2.3 9.7 2zM1141.3 266.8c-.8.5-1.1 6.5-1 20.2.2 17.7.4 19.5 2 19.8 1.6.3 1.7-1.1 1.7-19.7 0-11-.4-20.2-.8-20.5-.4-.2-1.3-.2-1.9.2zM1163.3 268c-5 2.6-9.4 8.9-10.1 14.5-.7 6.5 1.5 15 4.8 18.5 3 3.2 9.5 6 14 6s11-2.8 13.9-5.9c3.2-3.5 5.7-12.9 4.8-18.9-.7-5.3-5.3-11.9-9.6-14.1-5.4-2.5-12.8-2.6-17.8-.1zm15.4 2.7c4.7 2.2 7.3 7.8 7.3 15.8 0 11.8-5.9 18.3-15.5 17.3-8.1-1-11.4-5.2-12.2-15.9-1.2-14.6 8.6-22.8 20.4-17.2zM1206.5 267.4c-10.1 4.5-8.6 17 2.2 19.2 4.8.9 11.5 3.9 12.3 5.4 1.4 2.7 1.2 7.2-.4 9.6-1.2 1.6-2.7 2.1-7.5 2.3-6 .2-6.1.2-8.8-3.8-1.6-2.2-3.6-4-4.5-4.1-2.2 0-2.3 1.4-.1 5 2 3.4 5.1 5 11.3 5.7 13.3 1.6 20.9-11.7 11.1-19.4-1.5-1.2-10.4-4.2-13.9-4.7-2.1-.3-4.2-3.5-4.2-6.4 0-3.7 1.7-5.9 5.5-7.2 2.8-.9 4-.8 7 .6 2 .9 3.8 2.6 4.1 3.9.6 2.5 2.9 3.9 4.5 2.9 1.4-.8-3-8-5.5-9.1-3.3-1.5-9.8-1.4-13.1.1zM1049 287.1c0 18.6.1 20 1.8 19.7 1.5-.3 1.7-2.2 2-20.1.2-19.2.2-19.7-1.8-19.7-1.9 0-2 .6-2 20.1zM437.2 286.7l.3 2.8 42.8.2 42.7.2V284h-86.1l.3 2.7zM1237.9 284.7c0 .5-.2 1.8-.5 3l-.4 2.2 42.8-.2 42.7-.2.3-2.8.3-2.7h-42.5c-23.4 0-42.6.3-42.7.7zM125.5 288.5c-5.5 1.3-11.3 2.6-13 2.9-8.9 1.6-13.8 2.7-15 3.3-2.4 1.4-17.4 25.1-15.7 24.7 1-.2 8-1.9 15.7-3.8 7.7-2 16.3-4 19-4.6 7.9-1.7 15.5-4.2 15.5-5.1 0-.5.9-2.8 1.9-5.2 4-9 5.2-14.8 2.9-14.6-.7 0-5.8 1.1-11.3 2.4zM371.3 288.2c.3 1.3 1.8 5.9 3.4 10.4 2.5 7.5 3 8.1 6.3 9.1 6.7 2.1 45.2 11.5 45.5 11.1.2-.2-3.2-5.8-7.6-12.5-8.3-12.7-7.9-12.4-16.6-13.8-1.8-.3-9.2-1.9-16.5-3.5-7.3-1.7-13.7-3-14.2-3-.4 0-.6 1-.3 2.2zM205.5 318c-25.3 6.5-49.1 12.8-53 13.9-3.8 1.2-8.7 2.6-10.7 3.2-3.1.8-4.1 1.8-5.9 5.7-1.2 2.5-2.2 6-2.3 7.7l-.1 3 14.4.3 14.3.3 28.2-6.6c15.4-3.6 36.2-8.5 46.1-10.9l17.9-4.4 27.1 6.5c63.9 15.2 64.2 15.3 79.3 15.2 17.7-.1 17.6 0 14.6-6.3-1.3-2.8-2.4-5.6-2.4-6.3 0-2.1-4.1-4.1-14.1-6.9-26.3-7.2-102.7-26.4-104.9-26.3-1.4 0-23.2 5.4-48.5 11.9zM103 344.1c-6.9 1.6-13.8 3.1-15.5 3.3-5.6.8-18.6 3.7-20.8 4.6-2.2.9 28.1.4 42-.6 7.6-.6 8.2-1.2 8.3-7.1 0-1.2.6-2.4 1.3-2.6 3.4-1.4-4.2-.2-15.3 2.4zM392 342.6c0 1 .5 3.2 1.2 5 1.1 3.2 1.3 3.3 8.2 3.8 11.1.9 42.8 1.3 41.4.6-.7-.4-6.2-1.7-12.3-2.9-20.1-4.1-35-7.2-36.7-7.7-1.2-.4-1.8 0-1.8 1.2z"
        />
      </svg>
      <div style="border:1px solid #000;padding: 10px 20px;display: flex;flex-direction: column;text-transform: uppercase;height: fit-content;width: fit-content; align-items: start;font-size: 14px;">
          <font style="font-size: 16px !important;font-weight: 600;">Cotação Seguro Fiança</font>
          <font>Tipo de locação: <%= data.immobile.locationType %></font>
          <font>valor aluguel: <%= data.itemsValues.rent.contractValue %></font>
          <font>Condomínio: <%= data.itemsValues.condominium.contractValue %></font>
          <font>IPTU: <%= data.itemsValues.iptu.contractValue %></font>
      </div>
    </div>

    <div style="display: flex">
      <ul class="client-info">
        <li>
          <span>Cliente: <%= data.client.name %></span>
        </li>
        <li>
          <span>CPF: <%= data.client.document %></span>
        </li>
        <li>
          <span>Email: <%= data.client.email %></span>
        </li>
        <li>
          <span>Celular: <%= data.client.phone %></span>
        </li>
        <li>
          <span>Endereço: <%= data.client.address.place %>, <%= data.client.address.number %>, <%= data.client.address.complement %> - <%= data.client.address.city %>/<%= data.client.address.state %> - <%= data.client.address.CEP %></span>
        </li>
      </ul>
    </div>
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn s12">COMPROMETIMENTO DE RENDA</div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s6">RENDA INFORMADA</div>
        <div class="tablecolumn s2">R$</div>
        <div class="tablecolumn s4"><%= data.income.reportedIncome %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s6">DESPESA COM A LOCAÇÃO</div>
        <div class="tablecolumn s2">R$</div>
        <div class="tablecolumn s4"><%= data.income.expense %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s6">% DE COMPROMETIMENTO</div>
        <div class="tablecolumn s6" style="font-size:24px;font-weight:700;color:<%= data.income.color %>;"><%= data.income.percentage %></div>
      </div>
    </div>
    <br>
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn s6">SEGURADORA</div>
        <div class="tablecolumn s3">VALOR</div>
        <div class="tablecolumn s3">%</div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">
          <svg xmlns="http://www.w3.org/2000/svg" width="1244" height="548" viewBox="0 0 1244 548" version="1.1">
            <path d="M 290.500 44.369 L 232.500 58.516 232.238 95.258 L 231.975 132 209.988 132 L 188 132 188 183.500 L 188 235 209.946 235 L 231.892 235 232.262 307.250 C 232.616 376.427, 232.722 379.894, 234.742 388.768 C 237.541 401.067, 239.538 406.996, 243.914 416 C 261.138 451.441, 293.663 472.437, 338.479 477.044 C 357.147 478.963, 389.447 476.738, 409.050 472.183 L 416.500 470.452 416.760 422.204 L 417.019 373.957 414.260 374.668 C 412.742 375.059, 402.500 375.407, 391.500 375.440 C 372.488 375.497, 371.239 375.382, 366.212 373.111 C 360.193 370.390, 354.057 364.011, 351.994 358.326 C 350.883 355.266, 350.534 342.544, 350.252 294.750 L 349.898 235 383.449 235 L 417 235 417 183.500 L 417 132 383.500 132 L 350 132 350 81 C 350 52.950, 349.663 30.050, 349.250 30.111 C 348.837 30.172, 322.400 36.588, 290.500 44.369 M 612 133.041 C 494.536 144.326, 420.412 248.127, 453.143 355.500 C 478.433 438.463, 568.074 489.565, 663.500 475.418 C 734.552 464.886, 791.332 418.198, 810.954 354.175 C 816.472 336.170, 817.484 328.545, 817.484 305 C 817.484 281.455, 816.472 273.830, 810.954 255.825 C 793.270 198.126, 745.426 154.243, 683 138.465 C 662.457 133.273, 633.005 131.023, 612 133.041 M 1009.564 133.077 C 925.422 141.109, 859.732 198.298, 845.891 275.569 C 842.893 292.304, 842.893 317.696, 845.891 334.431 C 855.534 388.265, 890.376 433.328, 941.448 458.020 C 1003.374 487.961, 1082.410 483.436, 1138.303 446.750 C 1177.625 420.941, 1203.322 383.604, 1213.149 338 C 1215.121 328.849, 1215.412 324.610, 1215.412 305 C 1215.412 285.390, 1215.121 281.151, 1213.149 272 C 1198.858 205.677, 1149.345 155.630, 1081.143 138.568 C 1059.651 133.192, 1031.212 131.010, 1009.564 133.077 M 621.477 235.922 C 605.299 238.513, 593.502 244.413, 582.429 255.453 C 573.432 264.422, 569.479 270.684, 565.355 282.500 C 562.788 289.853, 562.564 291.673, 562.584 305 C 562.605 317.995, 562.883 320.331, 565.268 327.500 C 571.423 346.003, 583.164 359.372, 600.500 367.617 C 611.264 372.737, 618.863 374.366, 632 374.370 C 652.638 374.377, 667.627 368.372, 681.557 354.515 C 690.463 345.654, 695.219 337.669, 699.134 325 C 701.010 318.929, 701.452 315.213, 701.457 305.500 C 701.463 291.301, 699.881 284.359, 693.829 272.012 C 685.825 255.687, 668.871 242.254, 650.338 237.553 C 642.834 235.651, 628.302 234.829, 621.477 235.922 M 1018.531 236.113 C 984.252 241.106, 960 269.649, 960 305 C 960 332.836, 974.280 356.202, 998.195 367.496 C 1009.314 372.748, 1016.800 374.366, 1030 374.370 C 1050.650 374.377, 1065.643 368.372, 1079.584 354.512 C 1088.510 345.638, 1094.478 335.255, 1097.697 323 C 1100.001 314.228, 1100.005 295.798, 1097.705 287 C 1090.749 260.397, 1069.832 241.294, 1042.426 236.515 C 1032.969 234.866, 1027.703 234.777, 1018.531 236.113 M 92.539 349.054 C 75.994 351.627, 64.725 357.210, 53.382 368.453 C 41.277 380.451, 35.551 392.955, 34.354 410 C 33.009 429.145, 39.581 446.868, 52.896 460 C 57.278 464.323, 63.148 468.902, 66.750 470.809 C 70.188 472.628, 73 474.337, 73 474.607 C 73 474.876, 65.575 491.280, 56.500 511.060 C 47.425 530.840, 40 547.244, 40 547.512 C 40 547.780, 57.438 547.983, 78.750 547.962 L 117.500 547.925 142.290 495.172 C 155.924 466.159, 168.255 438.838, 169.693 434.460 C 171.884 427.790, 172.314 424.636, 172.346 415 C 172.414 394.923, 167.217 382.096, 153.448 368.347 C 140.778 355.697, 126.809 349.763, 107 348.618 C 102.325 348.348, 95.818 348.544, 92.539 349.054" stroke="none" fill="#01babd" fill-rule="evenodd"/>
          </svg>
        </div>
        <div class="tablecolumn s4">TOO</div>
        <div class="tablecolumn s3" style="box-shadow: 0px 0px 0px 1000px <%= data.insurers.too.color %> inset;"><%= data.insurers.too.value %></div>
        <div class="tablecolumn s3"><%= data.insurers.too.percentage %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">
          <svg xmlns="http://www.w3.org/2000/svg" width="5833" height="1586" viewBox="0 0 5833 1586" version="1.1">
            <path d="M 380.735 173.082 C 362.296 175.044, 340.960 182.129, 325.125 191.548 C 289.745 212.594, 266.104 245.675, 256.824 287.119 L 254.500 297.500 254.500 780.500 L 254.500 1263.500 256.811 1273.957 C 263.111 1302.463, 276.044 1326.160, 296.440 1346.566 C 316.749 1366.886, 339.711 1379.417, 368.040 1385.641 C 376.220 1387.438, 392.287 1387.500, 853 1387.500 C 1310.060 1387.500, 1329.847 1387.426, 1338 1385.679 C 1364.693 1379.963, 1387.765 1367.766, 1407.308 1349.041 C 1419.774 1337.097, 1428.296 1325.760, 1435.862 1311.057 C 1443.216 1296.767, 1447.538 1283.982, 1450.075 1269.006 C 1451.992 1257.693, 1452.020 1249.419, 1451.751 776 L 1451.478 294.500 1448.822 283.889 C 1434.614 227.102, 1393.932 187.372, 1337 174.685 L 1327.500 172.568 858 172.412 C 599.775 172.326, 385.006 172.627, 380.735 173.082 M 1680 779.964 L 1680 1388 1796 1388 L 1912 1388 1912 1157.500 L 1912 927 2042.750 926.982 C 2193.095 926.961, 2215.405 926.265, 2253 920.421 C 2439.579 891.418, 2558.470 765.660, 2571.995 583 C 2573.283 565.619, 2573.276 533.238, 2571.982 516 C 2561.801 380.399, 2494.073 275.056, 2380.490 218.153 C 2333.260 194.492, 2285.454 181.429, 2220 174.300 C 2205.943 172.769, 2180.093 172.580, 1942.250 172.271 L 1680 171.929 1680 779.964 M 4204.261 679.750 C 4204.597 1151.121, 4204.170 1116.388, 4210.049 1150.794 C 4218.153 1198.215, 4236.678 1242.480, 4263.174 1277.732 C 4272.603 1290.276, 4292.847 1311.124, 4305.499 1321.317 C 4341.149 1350.041, 4387.278 1370.768, 4437.232 1380.508 C 4472.249 1387.336, 4471.537 1387.298, 4572.250 1387.729 L 4664 1388.123 4664 1291.634 L 4664 1195.146 4595.250 1194.743 C 4520.824 1194.307, 4519.287 1194.206, 4499.476 1188.465 C 4461.994 1177.603, 4436.592 1151.463, 4425.536 1112.375 C 4419.206 1089.998, 4419.650 1105.843, 4419.282 889.250 L 4418.947 692 4541.474 692 L 4664 692 4664 602 L 4664 512 4541.500 512 L 4419 512 4419 380.500 L 4419 249 4311.477 249 L 4203.953 249 4204.261 679.750 M 415.968 297.032 C 413.400 299.600, 413.899 300.423, 422 307.004 C 461.583 339.158, 494.328 390.851, 520.440 462.409 C 523.871 471.809, 527.656 482.742, 528.853 486.704 C 532.121 497.520, 531.426 497.356, 554.733 492.808 C 698.074 464.839, 822.778 456.964, 930.500 469.078 C 1033.326 480.641, 1121.459 512.754, 1178.500 559.443 C 1186.605 566.077, 1189.728 567.238, 1192.025 564.470 C 1193.910 562.199, 1192.630 560.161, 1179.792 545 C 1107.366 459.470, 1006.596 394.606, 882 353.317 C 760.929 313.197, 624.760 295.207, 440.750 295.023 C 419.198 295.001, 417.893 295.107, 415.968 297.032 M 1912 549.500 L 1912 733.074 2047.750 732.718 C 2146.895 732.457, 2185.657 732.036, 2191.500 731.157 C 2207.545 728.741, 2220.782 725.709, 2233.500 721.537 C 2294.549 701.511, 2333.227 655.176, 2344.988 587.975 C 2347.782 572.013, 2348.752 543.163, 2347.058 526.452 C 2338.927 446.270, 2292.848 391.091, 2219 373.105 C 2190.936 366.270, 2199.686 366.622, 2048.750 366.257 L 1912 365.926 1912 549.500 M 2999.500 499.701 C 2953.739 502.821, 2904.730 512.937, 2864.213 527.623 C 2723.289 578.707, 2622.088 693.798, 2589.537 840 C 2567.370 939.563, 2575.924 1046.573, 2613.159 1135.500 C 2635.787 1189.542, 2666.864 1235.213, 2709.116 1276.517 C 2784.713 1350.418, 2884.245 1392.966, 3000.500 1401.078 C 3021.792 1402.564, 3071.021 1401.737, 3091 1399.558 C 3202.915 1387.351, 3297.380 1342.938, 3370 1268.384 C 3431.900 1204.835, 3472.156 1122.981, 3486.991 1030.500 C 3492.257 997.675, 3494.399 949.691, 3492.080 916.500 C 3485.577 823.438, 3456.054 741.222, 3404.480 672.558 C 3379.296 639.029, 3344.778 605.546, 3310.500 581.395 C 3243.825 534.419, 3164.270 506.811, 3076.050 500.033 C 3063.846 499.096, 3011.699 498.870, 2999.500 499.701 M 5140 500.056 C 5066.776 506.269, 4999.236 526.445, 4940.916 559.529 C 4926.370 567.781, 4899.019 586.409, 4885.500 597.271 C 4836.865 636.350, 4799.635 682.634, 4771.499 739 C 4736.698 808.717, 4720.897 886.219, 4724.096 971.500 C 4726.616 1038.662, 4742.148 1102.173, 4769.843 1158.565 C 4780.231 1179.717, 4785.065 1188.121, 4798.565 1208.500 C 4824.783 1248.079, 4858.132 1283.331, 4896.500 1312.024 C 4966.612 1364.456, 5050.667 1394.400, 5146.471 1401.074 C 5167.845 1402.563, 5217.210 1401.742, 5237 1399.569 C 5295.673 1393.124, 5348.723 1378.192, 5396.584 1354.649 C 5418.832 1343.705, 5426.961 1339.041, 5447.500 1325.435 C 5510.541 1283.676, 5561.783 1224.496, 5594.456 1155.714 C 5616.746 1108.790, 5630.241 1060.270, 5636.708 1003.800 C 5638.085 991.778, 5638.458 980.252, 5638.450 950 C 5638.438 908.889, 5637.726 899.046, 5632.425 866.736 C 5609.561 727.388, 5526.356 612.086, 5403.500 549.502 C 5382.155 538.629, 5366.628 532.182, 5342 523.968 C 5308.548 512.811, 5275.668 505.623, 5238.888 501.428 C 5222.136 499.517, 5157.007 498.614, 5140 500.056 M 3881 513.039 C 3804.029 516.416, 3737.553 539.314, 3687.500 579.692 C 3674.669 590.042, 3654.520 610.773, 3645.183 623.230 C 3618.882 658.318, 3600.343 702.205, 3592.478 748 C 3587.263 778.361, 3587.618 755.445, 3587.279 1083.750 L 3586.965 1388 3693.964 1388 L 3800.963 1388 3801.278 1101.750 L 3801.592 815.500 3803.737 804.488 C 3815.323 745.010, 3849.960 713.240, 3910 707.019 C 3915.462 706.453, 3957.436 706.027, 4008.750 706.017 L 4098 706 4098 609 L 4098 512 3997.750 512.157 C 3942.613 512.244, 3890.075 512.641, 3881 513.039 M 847 538.590 C 763.701 542.463, 694.522 552.864, 624 572.117 C 602.544 577.975, 564.285 590.340, 561.645 592.270 C 559.911 593.538, 559.962 594.390, 562.882 613.046 C 573.634 681.728, 578.718 757.169, 577.217 825.748 C 576.729 848.035, 577.042 850, 581.082 850 C 582.093 850, 595.296 846.182, 610.423 841.515 C 770.645 792.083, 908.939 763.379, 1033 753.804 C 1055.036 752.103, 1127.280 752.113, 1144.500 753.820 C 1196.287 758.951, 1231.809 767.649, 1263.476 782.951 C 1282.356 792.074, 1302.593 806.980, 1314.478 820.518 C 1317.608 824.083, 1320.806 827, 1321.585 827 C 1322.363 827, 1323.874 826.126, 1324.943 825.057 C 1326.866 823.134, 1326.852 822.989, 1323.497 810.307 C 1307.419 749.543, 1279.171 699.959, 1236.891 658.288 C 1210.696 632.471, 1183.918 613.369, 1149 595.591 C 1087.562 564.311, 1016.852 546.407, 929.500 540.014 C 914.824 538.939, 859.878 537.991, 847 538.590 M 3011.500 684.603 C 3009.850 684.829, 3003.458 685.705, 2997.296 686.551 C 2958.402 691.885, 2919.778 707.970, 2888.500 731.858 C 2885.200 734.378, 2877.822 740.954, 2872.104 746.470 C 2830.244 786.856, 2805.863 838.171, 2796.308 906 C 2793.785 923.907, 2793.787 977.116, 2796.311 995 C 2805.744 1061.838, 2830.328 1113.936, 2871.138 1153.572 C 2905.777 1187.214, 2947.938 1207.130, 3001.500 1215.152 C 3013.621 1216.967, 3058.360 1216.969, 3070.500 1215.155 C 3122.460 1207.389, 3164.512 1187.455, 3199.226 1154.136 C 3231.597 1123.065, 3255.313 1080.200, 3267.526 1030.689 C 3283.277 966.835, 3278.988 891.745, 3256.292 834 C 3224.138 752.190, 3159.834 699.709, 3075.500 686.447 C 3065.056 684.805, 3019.594 683.495, 3011.500 684.603 M 5157.500 684.603 C 5155.850 684.829, 5149.458 685.705, 5143.296 686.551 C 5101.829 692.238, 5060.429 710.291, 5029.500 736.173 C 4981.435 776.394, 4952.257 833.570, 4942.326 907 C 4939.726 926.220, 4939.725 974.763, 4942.323 994 C 4951.191 1059.653, 4974.825 1110.965, 5014.434 1150.563 C 5050.573 1186.692, 5092.117 1206.857, 5147.500 1215.152 C 5159.676 1216.976, 5204.383 1216.970, 5216.500 1215.143 C 5272.737 1206.665, 5316.527 1184.705, 5352.267 1147.056 C 5390.302 1106.990, 5413.159 1054.378, 5421.150 988.500 C 5423.141 972.085, 5422.857 925.006, 5420.667 908.619 C 5411.776 842.068, 5389.266 792.030, 5350.048 751.636 C 5321.168 721.891, 5286.590 701.985, 5245.643 691.532 C 5223.933 685.990, 5213.376 684.748, 5185.500 684.455 C 5171.750 684.311, 5159.150 684.377, 5157.500 684.603 M 1098.500 822.618 C 963.130 828.875, 793.487 867.082, 626.937 928.824 C 587.559 943.422, 574.024 949.027, 572.581 951.333 C 571.835 952.525, 570.931 956.425, 570.571 960 C 569.392 971.722, 562.954 1011.097, 558.881 1031.500 C 541.377 1119.182, 514.739 1191.706, 479.605 1247.333 C 475.147 1254.391, 470.847 1261.211, 470.048 1262.488 C 468.839 1264.422, 468.818 1265.075, 469.921 1266.405 C 470.649 1267.282, 472.220 1268, 473.413 1268 C 474.605 1268, 490.637 1261.212, 509.040 1252.915 C 772.842 1133.986, 961.219 1065.871, 1063.500 1052.429 C 1081.786 1050.025, 1108.054 1050.006, 1118.408 1052.388 C 1133.090 1055.765, 1140.754 1060.488, 1145.490 1069.077 C 1148.194 1073.979, 1148.479 1075.364, 1148.463 1083.500 C 1148.445 1092.876, 1146.751 1099.721, 1141.530 1111.528 C 1132.900 1131.042, 1111.165 1160.416, 1083.663 1189.735 C 1078.898 1194.815, 1075 1199.799, 1075 1200.811 C 1075 1203.564, 1079.211 1207, 1082.584 1207 C 1084.939 1207, 1089.598 1203.619, 1105.520 1190.358 C 1193.278 1117.263, 1254.488 1053.187, 1287.628 999.726 C 1307.285 968.014, 1318.310 934.766, 1316.550 912.500 C 1312.604 862.557, 1266.121 833.211, 1177.051 824.430 C 1162.719 823.018, 1114.119 821.896, 1098.500 822.618" stroke="none" fill="#00a1fc" fill-rule="evenodd"/>
          </svg>
        </div>
        <div class="tablecolumn s4">Porto Seguro Tradicional</div>
        <div class="tablecolumn s3" style="box-shadow: 0px 0px 0px 1000px <%= data.insurers.portoSeguro.color %> inset;"><%= data.insurers.portoSeguro.value %></div>
        <div class="tablecolumn s3"><%= data.insurers.portoSeguro.percentage %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">
          <svg xmlns="http://www.w3.org/2000/svg" width="800" height="161" viewBox="0 0 800 161" version="1.1">
            <path d="" stroke="none" fill="#ec6424" fill-rule="evenodd"/><path d="M 2 12.849 C 2 13.540, 3.734 14, 6.340 14 C 11.783 14, 21.863 18.867, 25.620 23.308 C 29.522 27.921, 32.741 35.539, 33.940 43 C 34.558 46.845, 34.988 68.597, 34.992 96.250 C 35 141.661, 35.057 143.057, 37 145 C 38.802 146.802, 40.333 147, 52.500 147 L 66 147 66 89.696 L 66 32.393 63.353 27.081 C 60.371 21.097, 54.872 16.960, 46.500 14.403 C 40.003 12.418, 2 11.091, 2 12.849 M 98.328 13.027 C 86.679 14.253, 77.532 19.505, 73.157 27.479 C 71.677 30.177, 71.470 36.738, 71.219 88.750 L 70.938 147 84.035 147 C 91.238 147, 97.955 146.559, 98.961 146.021 C 102.722 144.008, 103 140.186, 103 90.456 C 103 44.954, 103.114 41.849, 105.005 35.855 C 108.940 23.379, 117.914 15.484, 129.522 14.286 C 132.535 13.975, 135 13.333, 135 12.860 C 135 11.834, 108.515 11.954, 98.328 13.027 M -0 30.291 L -0 44.837 12.398 45.168 C 25.545 45.520, 27.801 46.325, 30.140 51.500 C 32.039 55.701, 30.157 41.387, 28.092 35.921 C 24.161 25.516, 15.078 18.080, 4.250 16.403 L 0 15.744 -0 30.291 M 127.404 17.805 C 124.601 18.786, 120.448 21.061, 118.175 22.861 C 112.513 27.346, 107.188 38.261, 106.400 47 L 105.814 53.500 107.826 50.359 C 108.932 48.632, 110.437 46.832, 111.169 46.359 C 111.901 45.887, 118.125 45.275, 125 45 L 137.500 44.500 137.500 30.500 L 137.500 16.500 135 16.261 C 133.625 16.129, 130.207 16.824, 127.404 17.805 M 185 79.423 L 185 135 194.777 135 C 209.406 135, 209 135.541, 209 116.059 L 209 100.232 222.250 99.748 C 237.329 99.197, 241.924 97.925, 249.500 92.202 C 253.100 89.482, 255.452 86.559, 257.900 81.760 C 260.916 75.847, 261.354 73.974, 261.779 65.151 C 262.178 56.852, 261.896 54.015, 260.071 48.007 C 258.228 41.939, 256.989 39.898, 252.192 35.028 C 242.751 25.443, 239.625 24.646, 209.750 24.208 L 185 23.846 185 79.423 M 355 33.500 L 355 43 350.539 43 C 346.224 43, 346.045 43.123, 345.100 46.750 C 344.562 48.813, 343.820 52.188, 343.450 54.250 L 342.777 58 348.889 58 L 355 58 355 88.321 L 355 118.641 357.750 124.066 C 362.546 133.527, 374.335 138.161, 385.750 135.073 L 390 133.923 389.997 126.211 L 389.994 118.500 385.498 118.474 C 382.194 118.454, 380.406 117.851, 378.751 116.197 C 376.539 113.986, 376.495 113.465, 376.205 85.974 L 375.911 58 383.436 58 C 390.830 58, 390.973 57.952, 391.578 55.250 C 391.917 53.738, 392.598 50.925, 393.091 49 C 394.652 42.912, 394.771 43, 385 43 L 376 43 376 35.689 C 376 25.234, 374.676 24, 363.461 24 L 355 24 355 33.500 M 409 33.500 L 409 43 404.519 43 C 400.690 43, 399.964 43.327, 399.527 45.250 C 398.083 51.607, 397.046 56.580, 397.024 57.250 C 397.011 57.663, 399.676 58, 402.947 58 L 408.895 58 409.197 89.250 L 409.500 120.500 412.277 125.223 C 414.077 128.286, 416.714 130.923, 419.777 132.723 C 423.877 135.134, 425.555 135.500, 432.500 135.500 C 444.056 135.500, 444 135.545, 444 126.205 L 444 118.346 441.250 118.747 C 436.829 119.391, 433.060 117.387, 431.452 113.538 C 430.309 110.804, 430 104.529, 430 84.074 L 430 58.084 437.677 57.792 L 445.355 57.500 446.635 52 C 448.835 42.550, 449.216 43, 439 43 L 430 43 430 35.500 C 430 25.057, 428.851 24, 417.500 24 L 409 24 409 33.500 M 673 36.567 C 673 48.064, 673.149 49.091, 674.750 48.625 C 675.712 48.345, 680.438 47.353, 685.250 46.421 L 694 44.726 694 35.920 C 694 24.720, 693.231 24, 681.277 24 L 673 24 673 36.567 M 779 79.500 L 779 135 789.500 135 L 800 135 800 81.155 C 800 30.261, 799.900 27.219, 798.171 25.655 C 796.766 24.383, 794.337 24, 787.671 24 L 779 24 779 79.500 M 209 62 L 209 81 217.352 81 C 227.215 81, 231.262 78.987, 234.465 72.487 C 237.242 66.849, 237.087 56.012, 234.147 50.271 C 231.151 44.423, 227.903 43, 217.550 43 L 209 43 209 62 M 295.746 51.022 C 277.927 55.524, 268.056 70.753, 268.015 93.803 C 267.964 122.250, 281.603 137.078, 306.647 135.804 C 317.661 135.244, 323.489 132.528, 330.771 124.560 C 341.997 112.277, 344.987 90.403, 337.994 71.714 C 333.278 59.108, 321.704 51.124, 307.149 50.435 C 302.942 50.236, 297.811 50.500, 295.746 51.022 M 475.332 51.851 C 465.636 55.202, 459.535 61.788, 454.861 73.951 C 452.275 80.680, 451.189 97.992, 452.864 105.800 C 455.561 118.376, 464.094 129.007, 474.703 133.007 C 485.180 136.958, 502.304 136.663, 513.094 132.346 L 517 130.783 517 122.784 C 517 115.562, 516.830 114.855, 515.250 115.499 C 507.591 118.618, 504.413 119.176, 496.154 118.849 C 488.432 118.543, 486.738 118.128, 482.509 115.500 C 477.468 112.368, 474.386 107.756, 473.822 102.500 L 473.500 99.500 497.750 99.232 L 522 98.964 521.980 94.232 C 521.949 86.724, 520.213 76.645, 517.876 70.398 C 514.790 62.149, 506.371 53.731, 499.068 51.591 C 491.957 49.508, 481.791 49.619, 475.332 51.851 M 562.493 52.351 C 559.739 53.634, 556.026 56.345, 554.243 58.376 L 551 62.070 551 58.690 C 551 53.119, 548.656 51.866, 538.874 52.208 L 530.500 52.500 530.500 93.500 L 530.500 134.500 541.209 134.783 L 551.918 135.067 552.209 103.955 L 552.500 72.844 556.362 69.305 C 559.922 66.045, 560.609 65.804, 565.122 66.238 C 570.871 66.790, 573.603 68.912, 574.989 73.900 C 575.548 75.914, 575.991 90.169, 575.994 106.250 L 576 135 586.570 135 L 597.140 135 596.820 100.750 C 596.510 67.592, 596.429 66.368, 594.279 62.347 C 588.385 51.324, 574.246 46.878, 562.493 52.351 M 632.286 51.392 C 621.770 54.824, 614.691 61.162, 609.873 71.457 C 598.617 95.511, 607.794 126.536, 628.280 133.680 C 635.280 136.121, 652.802 136.167, 658.250 133.759 L 662 132.102 662 123.944 C 662 116.569, 661.832 115.855, 660.250 116.501 C 652.250 119.772, 643.225 119.538, 637.353 115.909 C 629.728 111.197, 625.847 94.917, 629.419 82.629 C 633.271 69.379, 645.577 63.447, 657.750 68.973 L 662 70.902 662 62.895 L 662 54.888 657.250 52.767 C 651.288 50.106, 638.401 49.397, 632.286 51.392 M 688 51.005 C 686.075 51.448, 681.913 52.334, 678.750 52.976 L 673 54.142 673 94.571 L 673 135 683.500 135 L 694 135 694 92.500 C 694 59.113, 693.732 50.022, 692.750 50.100 C 692.063 50.156, 689.925 50.563, 688 51.005 M 721.711 51.569 C 712.084 53.901, 712 53.996, 712 62.479 L 712 69.888 716.637 67.837 C 726.302 63.561, 738.691 64.537, 744.158 70.004 C 746.546 72.392, 747 73.670, 747 78.003 C 747 83.127, 746.983 83.155, 744.206 82.545 C 742.670 82.208, 737.480 82.379, 732.673 82.925 C 711.256 85.358, 699.365 97.430, 701.392 114.680 C 702.981 128.200, 711.724 136, 725.290 136 C 733.545 136, 739.806 133.795, 744.898 129.094 L 749 125.307 749 128.499 C 749 133.603, 751.445 135, 760.379 135 L 768.101 135 767.801 102.250 C 767.513 70.882, 767.409 69.331, 765.338 65.500 C 762.835 60.871, 757.807 55.873, 753.500 53.734 C 745.945 49.980, 732.147 49.041, 721.711 51.569 M 483.643 66.053 C 478.199 67.637, 475.083 72.623, 473.519 82.250 L 472.909 86 487.085 86 L 501.260 86 500.765 81.611 C 499.511 70.483, 491.968 63.630, 483.643 66.053 M 297.147 68.530 C 292.490 72.448, 290.636 79.423, 290.640 93 C 290.644 106.060, 291.916 111.755, 295.799 116.101 C 299.348 120.072, 305.776 121.114, 310.625 118.503 C 316.276 115.460, 318.353 109.610, 318.827 95.404 C 319.302 81.190, 317.605 73.451, 313.006 68.852 C 309.081 64.927, 301.609 64.775, 297.147 68.530 M 729.316 97.943 C 722.988 100.816, 720.371 107.585, 722.957 114.387 C 724.867 119.410, 733.965 121.621, 739.961 118.520 C 745.508 115.651, 747 112.546, 747 103.865 L 747 96 740.250 96.022 C 735.794 96.036, 732.078 96.690, 729.316 97.943" stroke="none" fill="#f46424" fill-rule="evenodd"/>
          </svg>
        </div>
        <div class="tablecolumn s4">Pottencial</div>
        <div class="tablecolumn s3" style="box-shadow: 0px 0px 0px 1000px <%= data.insurers.pottencial.color %> inset;"><%= data.insurers.pottencial.value %></div>
        <div class="tablecolumn s3"><%= data.insurers.pottencial.percentage %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">
          <svg xmlns="http://www.w3.org/2000/svg" width="833" height="206" viewBox="0 0 833 206"><path fill="#1e120d" fill-rule="evenodd" d="M324 41c-6 3-13 9-16 15-5 10-3 21 5 30 9 8 21 10 32 6 8-3 11-6 15-13a26 26 0 0 0-24-39l-12 1m135 0c-6 2-13 9-16 14-3 7-3 16 0 24 11 20 40 20 51 1 3-5 3-6 3-13s0-9-2-13c-2-5-11-12-16-13h-20m-194 5-1 6 3-1 8-2h5v20c0 15-1 20-2 21l-1 2 8 1 8-1-1-3c-2-1-2-5-2-21V49h4l6 2c3 2 3 1 4-3l2-6-20-1h-20l-1 5m104-4 2 2c2 2 2 3 2 23s0 21-2 23l-2 2 9 1 8-1-2-2-1-12v-9l6 8c12 15 12 15 20 16 8 0 9-1 4-4-3-2-20-22-20-25l3-4 13-18-7-1-8 1 1 3c1 0 0 3-6 11l-5 7-1-8 1-11 2-2-8-1-9 1m49 0 2 3c2 2 2 42 0 45l-2 2 8 1c8 0 9-1 7-3-2-1-2-5-2-23s0-22 2-23c2-2 1-3-7-3l-8 1m100 0v2c2 2 1 5-1 20-2 22-3 24-5 25-3 3-1 4 6 4 6 0 9-1 6-2l-1-5 4-29 3 4c11 27 15 34 18 33l2-6 13-33a336 336 0 0 1 3 35c-2 3-1 3 7 3l8-1-1-2c-3-5-8-45-6-46 3-2 0-3-6-3h-8l-3 10-7 17-3 8-4-8-7-17-4-9-7-1-7 1m83 0 1 2c2 1 1 4-6 21a330 330 0 0 0-11 24c-2 1-3 3-2 3h15l-1-2c-2-1-1-2 1-8l3-7 8-1c9 0 9 0 12 8 2 5 2 7 1 8l-1 2 9 1 8-1-3-4-5-9-8-21-7-16-7-1-7 1m40 0 2 2 1 23-1 23-2 2h16l-1-2c-2-2-2-3-2-12V68l5 6 10 13 6 6h6l7-1-5-4c-3-2-8-7-11-12-6-7-6-8-4-8 3-3 8-8 9-11 0-5-2-10-6-13-3-2-5-3-17-3l-13 1m50 0 1 2c1 1 2 3 2 23s-1 22-2 23c-4 2-1 3 7 3s9-1 7-3c-2-1-2-5-2-23s0-22 2-23l1-2h-16m27 0 1 3c2 2 2 4 2 22s0 20-2 22l-2 3 8 1c7 0 8-1 5-4l-1-17 1-15 13 18c10 12 15 18 18 19l4 1 1-25c0-22 0-24 2-25l1-3h-15l2 3c2 2 2 4 2 17v15l-13-16-14-18c-1-2-2-2-7-2l-6 1m60 0 2 2 1 23-1 23-2 2 17 1h16l2-6 2-6-5 2c-4 2-14 3-17 1-2 0-2-2-2-8v-7h5l6 1c1 2 2 0 2-5v-4h-13V49h6l8 1c3 3 3 2 3-3v-6h-15l-15 1m-451 7c-7 3-12 12-10 20 0 2 1 6 3 8 3 7 8 9 16 9 7-1 10-3 14-8 2-3 2-4 2-11s-1-8-4-12c-4-5-7-7-12-8-3 0-6 0-9 2m135 0c-11 5-14 19-7 29 4 6 8 8 14 8 7 0 11-2 15-7s4-14 1-21c-5-9-14-13-23-9m192 8v8l3-1c9-2 13-8 8-14l-7-2h-4v9m-48 2-3 8h12l-3-8-3-7-3 7m-230 60c-8 1-13 3-18 9-5 5-7 10-7 17 0 9 1 13 5 18 7 8 22 11 37 9l8-1v-27h-6l-7 1 2 2 1 10v7h-3c-5 1-8 1-13-1-12-3-17-17-11-28 2-3 3-4 8-7 6-3 15-2 20 1l3 1c2-1 1-10 0-10-3-1-13-2-19-1m270 0c-5 1-9 3-14 7-10 10-11 27-1 37 11 13 31 13 43 0l6-8c2-5 1-16-1-22-2-4-9-11-13-12-5-2-15-3-20-2m-372 2c-5 2-7 4-8 8s0 9 3 13l11 6c9 5 11 7 11 10 0 8-14 9-24 2l-3-2 1 4c1 8 1 8 7 10 15 4 30-4 30-16 0-7-3-10-15-16-5-2-9-4-10-6v-4c3-5 11-5 17-1l3 2 1-5c0-4 0-6-2-6-3-2-19-1-22 1m37-1v3c2 2 2 6 2 23 0 16 0 20-2 22v3c0 2 31 1 32 0l3-11h-1c-2 2-11 4-16 3h-6v-16h4l6 1 2 1 1-5v-4h-13v-13h5l8 1c3 3 4 2 4-3v-6h-14l-15 1m99 0v2c1 1 2 6 2 20 0 18 1 19 3 23 4 5 9 8 17 7 4 0 7 0 9-2 4-2 4-2 4 0 1 2 2 2 6 2 7 0 8-1 6-4-2-2-2-6-2-22 0-17 0-21 2-23v-3l-8-1-7 1 2 3 1 19v17l-3 2c-6 5-14 5-18-1l-1-19 1-19 2-2h-16m59 0v3a147 147 0 0 1-1 48h16l-1-3c-2-2-2-3-2-12 0-10 0-10 2-8l17 22c3 2 24 3 25 1v-2c-2-1-2-2 1-9l2-7h18l2 7c3 7 3 7 2 9l-1 2h17l-3-4-5-9-15-38h-14l1 2c2 0 1 3-2 11a476 476 0 0 0-14 33l-2 2-4-3-9-11-6-7 3-2c10-5 10-19 1-24-4-2-27-3-28-1m100 0 1 2c2 1 2 4 2 23 0 18 0 22-2 23-3 4 0 4 13 4 14-1 21-3 27-8 5-6 7-10 7-19s-1-12-5-17c-6-6-12-8-28-9l-15 1m119 0 2 3 1 23-1 22c-3 3-2 4 5 4l8-1v-3c-2-2-2-5-2-12v-10l4 6c7 10 13 17 17 19h23l-1-2c-1-2-1-2 1-9l3-6 9-1h9l2 6c2 7 3 10 1 10l-1 2h18l-2-3c-2-1-4-5-14-31l-7-17-6-1c-8 0-10 0-8 3 2 2 2 2-2 12a906 906 0 0 0-15 34c-3 0-20-21-18-22 3-1 8-6 9-10 2-4 1-8-3-12-5-4-9-5-22-5l-10 1m-206 7-1 8c0 9 0 9 6 7 4-2 7-5 7-9s-7-8-12-6m161 2c-8 5-10 16-5 26 2 4 3 6 8 8 6 3 11 2 17-1 6-4 9-12 6-22-3-13-15-18-26-11m59-2-1 8c0 9 0 9 6 7 9-4 8-14-1-15h-4m-119 1-1 17v18h2c4 1 13-1 17-3 6-5 8-15 4-25-2-2-3-4-7-6-5-2-12-3-15-1m-48 8c-5 10-5 9 2 9l5-1-2-7-3-6-2 5m221-3-3 7-2 5h6c6 0 6 0 2-9-2-5-3-5-3-3"/><path fill="#7a5801" fill-rule="evenodd" d="m208 53-1 3-2 3v1l-3 8c-2 7-7 15-8 15l-6 5c-4 3-6 5-7 4-4-1-2 3 6 11l5 3c3 0 13-11 17-18 3-7 3-8 3-17 0-10-1-16-3-18h-1m-84 37c3 5 9 12 15 16 4 3 15 7 16 7l-2-4-3-6-4-6c-3-3-5-4-4-2 1 1 0 2-1 1l-1-1-3-1c-5-1-8-3-11-6s-4-3-2 2"/><path fill="#a67901" fill-rule="evenodd" d="M178 24v2c1-1 5 5 8 12 3 5 3 7 3 12l-2 7-5 9-4 6h-2l-2 1-1 2-1 2h-2l-1-1 7 13c4 5 6 5 12-1l6-5c1 0 6-8 8-15l3-8v-1l2-3 1-3 1-1h1c0-2-2-4-3-4l-1-1 1-1-1-3c-4-7-12-14-20-18l-7-3-1 2m-59 31c-2 8-1 23 1 26l1 1 2 4 3 2c3 3 6 5 11 6l3 1 1 1c1 1 2 0 1-1 0-1 2-2 2 0v-1l-1-4-4-8c-5-11-5-11-8-13h-2l-2-1-4-5-2-2c-1 1-1-1-1-4v-6l-1 4m93 13 1 7-1-14v7"/><path fill="#e2bd56" fill-rule="evenodd" d="M158 21c-2 3-2 4 1 4l5 2 4 2 5 6c5 7 5 10 1 17-2 4-3 5-7 6-3 1-4 2-4 4 0 3 5 13 6 13l1 2h2l1-2 1-2 2-1h2l4-6 5-9 2-7c0-5 0-7-3-12-3-7-7-13-8-12v-2c0-2 0-2 4 0l4 1-4-3c-4-2-8-2-13-3-8 0-9 0-11 2m31 5c7 4 12 10 17 17l4 7c0-2-7-14-10-16l-12-9c-1 0-1 1 1 1m-67 22c-1 3-3 16-1 13l2 2c1 3 6 7 7 6l3 1h1a340 340 0 0 1-9-26l-3 4"/><path fill="#f9f3cc" fill-rule="evenodd" d="m157 26-1 1c-2-1-2 6 1 7 5 3 6 5 6 10 0 4-1 5-2 6l-2 2 2 4c0 3 2 4 7 2 3-2 5-3 6-7l3-8c0-2-5-10-6-9l-2-1 1-1c2 1 1-1 0-2l-2-1-4-1c-4-3-7-4-7-2"/><path fill="#f2f7f0" fill-rule="evenodd" d="m156 36 1 4 3 9 1-1v1l1 1 1-6c0-5-1-7-6-9-2-1-2-1-1 1"/><path fill="#003f2a" fill-rule="evenodd" d="M95 14c-2 0-3 1-4 4v21c1 6 1 6 5 7l4 3h2l1 1 2 2h2l1 3c1-1 8 5 7 6l1 1 1-3 3-9c3-7 3-9 3-12-1-7-4-16-5-16l-6-3-8-4a375 375 0 0 1-9-1M46 49c-2 0-3 2-4 5v15l2 10v2c1-1 7 1 6 2h1l2 1c0 1 1 2 2 1l2 1c-1 0 0 2 2 2l2 2a68 68 0 0 1 13 15l1 1 1-1 2 3 3 4-3-9a360 360 0 0 1-18-50c-3-3-10-5-14-4m115 127v2c2 0 2 0 1 1s-8 2-11 1h-5c-3 2-3 5-1 6v1l2 1 3-2 2-1h1l1-1 2-1 5-1 3-1 1-1 1-1 1-1c-1-1 0-1 1-1 3 0 0-1-4-2-3 0-4 0-3 1m-62 13-4 1 10-1 1-1-7 1"/><path fill="#004630" fill-rule="evenodd" d="m90 16-1 11v8l1-8c1-12 2-13 5-13l4-1h-4c-3 0-3 0-5 3m15-1 7 4 6 3-10-7-4-1 1 1M92 46h1l4 1c2 2 3 2 3 1l-3-2h-5m-46 2c-1 1-1 1 1 1 5 0 7 0 11 3 3 2 3 2 2 0-4-4-9-6-14-4m-4 4-2 8v6l1-6 2-8v-3l-1 3m66 3 3 3 4 3c2 2 3 2 3-2 0-2 0-2-1 0l-1 2-2-3c-3-3-6-5-6-3M43 80l1 1 7 3 1 1c2 0 1-2-3-4a229 229 0 0 1-6-1m11 6 1 1 10 9a639 639 0 0 1-10-11l-1 1m128 14a1609 1609 0 0 1 8 9c3 1 3 1 3-1l-1-2-6-4c-5-4-6-5-4-2m-106 5c-1 1 5 9 8 12l2 3c2 4 2 1 0-4-2-3-3-5-4-4l-4-4-2-3m74-1c0 2 6 10 7 10l1-1-8-9m45 7v2h-4c-2 1-3 2-1 3l-4 6-5 6-2 2c-3 2-3 2-6 0l-2-1 3 3 7 8c6 6 16 10 15 6v-1c1 1 8-13 9-20l2-8c0-2 0-2-2-2l-4-1h-1l-1-1-3-2h-1m-51 44v1h-3c1 2-1 5-4 5l-16 2h-3c-1 0-2 0-2 2s11 15 18 20c5 3 7 4 8 3h1c-1 2 4 1 9-1 4-2 7-4 4-4l-2 1-1 1h-1l-2 1-3 2-2-1v-1c-2-1-2-4 1-6h5c3 1 10 0 11-1s1-1-1-1v-2c-1-1 0-1 3-1 4 1 7 2 4 2l-4 2-4 3-2 2 6-3 1-1c2 0 9-5 9-6l-1-1c-3 0-11-5-17-11l-8-7-1 2c-2 1-2 0-2-2v-1l-1 1m-95 2 3 4c2 3 3 3 4 2v-1l-4-3-3-2m33 6v2c-2 2-19 3-19 1h-1c-1 1-5 1-4-1h-2c-1 0-1 1 1 3 6 6 12 12 13 11l1 1c-1 1 5 4 6 3v1l1 1c1-1 2 0 2 1l3 1h1c0 1 6 2 13 2h8l-6-7-14-16-3-4v1m20 27c-6 0-5 2 1 1l4-1-1-1-4 1"/><path fill="#007d6d" fill-rule="evenodd" d="M92 13h-3l-8 5-12 6c-7 4-6 4 2 4l5-1 6-1c5 0 5 0 6 3 1 2 1 1 1-3l1-9c2-4 2-4 7-4l5-1h-5l-5 1m36 0c-5 0-5 1-6 4 0 3 0 4 2 4s4 2 4 5c0 2 2 3 4 4 4 2 5 5 6 13l1 8 1 3c0 3 0 3-1 2s-1 0-2 3v12c1 7 5 17 6 18l1 4 2 4 3 4 10 13 6 7 5 6 1 1 2 2c3 2 3 2 6 0l2-2 5-6 4-6c-2-1-1-2 1-3h4v-2h1l3 1-3-2-3-2h-4c-2 0-3-2-4-3l-2-3-1-3-1-2-2-3-1-2-5-7c-9-13-20-40-20-51 0-7 0-9 3-11l2-3-8-4c-8-3-13-4-22-3M39 60v4l1 6c2 8 2 5 1-5l-2-5m-7 9c-4 9-5 14-5 23l-1 8 1 7 2 7a135 135 0 0 0 19 40l8 8v3h2c-1 2 3 2 4 1h1c0 2 17 1 19-1v-4l-1-1-1-2-3-4a385 385 0 0 1-30-57l-2-1c-2 0-3-1-4-3l-4-13c1-1 0-2-1-3l-1-7v-5l-3 4m73 23c-4 4-5 4-6 4l-2 1-3 2c-4 1-5 3-3 3s1 2-2 2l-5 1c-1 1-2 0-4-3l-3-4a582 582 0 0 0 36 63l2 3h1l3-1h2l16-2c3 0 5-3 4-5h3v-2l1 1c0 2 0 3 2 2l1-2c-1 0-1-1 0 0l1-1-1-1-2-2-3-3-1-1-5-9a285 285 0 0 1-27-47c-1 0-2 0-1-1 1-2-1-1-4 2"/><path fill="#6bab9c" fill-rule="evenodd" d="m88 12-4 2a55 55 0 0 1-16 9l-4 3c-3 1-4 3-5 6-2 7-1 9 4 7l9-3 8-1h4c4 0 4 1 5 5 2 7 2 4 0-6l-2-8h-5l-6 1-5 1c-8 0-9 0-2-4a335 335 0 0 0 19-12m37 1h6c1-1 0-1-3-1s-4 0-3 1m32 6c1 1 1 1-1 4l-3 4c0 2 0 2 1 1 0-2 1-4 3-5 2-3 2-5 0-5v1m-35 6 1 10c1 4 2 7 1 8l1 1 2 4a193 193 0 0 0 13 34l-3-11V59c1-3 1-4 2-3s1 1 1-2l-1-3-1-8c-1-8-2-11-6-13-2-1-4-2-4-4 0-3-2-5-4-5s-2 1-2 4M40 52l-2 3-10 20c0 3 0 3 1 1l6-11v5l1 7c1 1 2 2 1 3l4 13c1 2 2 3 4 3l2 1c1 1 1 1 1-1l-3-8-6-27 1-7c2-4 2-5 0-2m55 25-4 6-4 4-7 3h-3l-4-3 2 6c6 13 6 13 12 12l5-2-1-1c-2 0-1-2 3-3l3-2 2-1 6-4c1-1 3-2 4-1v-1l-1-2-5-11-1-4-2-2c-1 0-3 2-5 6m-69 8v15-16 1m179 42-1 5v2l2-10-1 3m-6 16-2 4 3-3 1-4-2 3"/><path fill="#bddad4" fill-rule="evenodd" d="M93 11c-1 1 0 1 4 1s5 0 3-1h-7m39 0-8 1h8l9-1-1-1-8 1m17 3c0 1 4 3 5 2l1 1 3 2h2c0-1-5-4-7-3v-1l-1-1h-3m-69 2c-5 3-5 3 0 1l4-3-4 2m-8 4-1 1-5 3c-7 4-8 5-2 2l4-3 2-1 3-2 1-1-2 1m120 7 1 1 2 1 2 2 3 3 3 2-6-7-2-2h-3M80 35l-7 1-10 3c-3 1-4 2-4 5l1 3v1l3-1c6-3 20-4 23-1l3 1c1 0 2 1 2 3l-1 2v4l-2 7-4 6c-2-1-6 4-5 5h-2c-2 0-2 1-3 2 0 3-3 1-6-4-3-7-2-3 2 7l5 10c2 3 7 2 12-3l4-3 4-6 5-6c1 0 2-2 0-2l-1-4-3-5-1-3c1-1 0-2-1-3v-3l-1-2-3-7c-2-6-2-7-5-7h-5M43 47l-2 1-1 1-1 2-5 10 2-2c0-2 2-5 7-10l2-3-2 1m114 2 2 6 1 1-3-7M25 95c0 2 0 3 1 2v-5c-1-1-1 0-1 3"/><path fill="#eff7f4" fill-rule="evenodd" d="M125 9c-1 2-1 2 7 2h8l-5-2h-10m29 26c0 2 5 17 5 14l-1-5-1-4-1-4c-1-2-2-3-2-1m-80 9h-3l-6 2-4 1 1 5 3 9c4 13 8 20 9 15 1-1 1-2 3-2h2c-1-1 3-6 5-5l4-6 2-7v-4l1-2c0-2-1-3-2-3l-3-1c-1-2-10-3-12-2m19 8 1 1 1 3 2 4c1 1 1 1 0 0v-2l-1-1v-2l-1-1v-2l-1-1-1 1m14 141h5l-4-1c-3 0-3 0-1 1"/></svg></div>
        <div class="tablecolumn s4">Tokio Marine</div>
        <div class="tablecolumn s3" style="box-shadow: 0px 0px 0px 1000px <%= data.insurers.tokio.color %> inset;"><%= data.insurers.tokio.value %></div>
        <div class="tablecolumn s3"><%= data.insurers.tokio.percentage %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">
          <svg xmlns="http://www.w3.org/2000/svg" width="5833" height="1586" viewBox="0 0 5833 1586" version="1.1">
            <path d="M 380.735 173.082 C 362.296 175.044, 340.960 182.129, 325.125 191.548 C 289.745 212.594, 266.104 245.675, 256.824 287.119 L 254.500 297.500 254.500 780.500 L 254.500 1263.500 256.811 1273.957 C 263.111 1302.463, 276.044 1326.160, 296.440 1346.566 C 316.749 1366.886, 339.711 1379.417, 368.040 1385.641 C 376.220 1387.438, 392.287 1387.500, 853 1387.500 C 1310.060 1387.500, 1329.847 1387.426, 1338 1385.679 C 1364.693 1379.963, 1387.765 1367.766, 1407.308 1349.041 C 1419.774 1337.097, 1428.296 1325.760, 1435.862 1311.057 C 1443.216 1296.767, 1447.538 1283.982, 1450.075 1269.006 C 1451.992 1257.693, 1452.020 1249.419, 1451.751 776 L 1451.478 294.500 1448.822 283.889 C 1434.614 227.102, 1393.932 187.372, 1337 174.685 L 1327.500 172.568 858 172.412 C 599.775 172.326, 385.006 172.627, 380.735 173.082 M 1680 779.964 L 1680 1388 1796 1388 L 1912 1388 1912 1157.500 L 1912 927 2042.750 926.982 C 2193.095 926.961, 2215.405 926.265, 2253 920.421 C 2439.579 891.418, 2558.470 765.660, 2571.995 583 C 2573.283 565.619, 2573.276 533.238, 2571.982 516 C 2561.801 380.399, 2494.073 275.056, 2380.490 218.153 C 2333.260 194.492, 2285.454 181.429, 2220 174.300 C 2205.943 172.769, 2180.093 172.580, 1942.250 172.271 L 1680 171.929 1680 779.964 M 4204.261 679.750 C 4204.597 1151.121, 4204.170 1116.388, 4210.049 1150.794 C 4218.153 1198.215, 4236.678 1242.480, 4263.174 1277.732 C 4272.603 1290.276, 4292.847 1311.124, 4305.499 1321.317 C 4341.149 1350.041, 4387.278 1370.768, 4437.232 1380.508 C 4472.249 1387.336, 4471.537 1387.298, 4572.250 1387.729 L 4664 1388.123 4664 1291.634 L 4664 1195.146 4595.250 1194.743 C 4520.824 1194.307, 4519.287 1194.206, 4499.476 1188.465 C 4461.994 1177.603, 4436.592 1151.463, 4425.536 1112.375 C 4419.206 1089.998, 4419.650 1105.843, 4419.282 889.250 L 4418.947 692 4541.474 692 L 4664 692 4664 602 L 4664 512 4541.500 512 L 4419 512 4419 380.500 L 4419 249 4311.477 249 L 4203.953 249 4204.261 679.750 M 415.968 297.032 C 413.400 299.600, 413.899 300.423, 422 307.004 C 461.583 339.158, 494.328 390.851, 520.440 462.409 C 523.871 471.809, 527.656 482.742, 528.853 486.704 C 532.121 497.520, 531.426 497.356, 554.733 492.808 C 698.074 464.839, 822.778 456.964, 930.500 469.078 C 1033.326 480.641, 1121.459 512.754, 1178.500 559.443 C 1186.605 566.077, 1189.728 567.238, 1192.025 564.470 C 1193.910 562.199, 1192.630 560.161, 1179.792 545 C 1107.366 459.470, 1006.596 394.606, 882 353.317 C 760.929 313.197, 624.760 295.207, 440.750 295.023 C 419.198 295.001, 417.893 295.107, 415.968 297.032 M 1912 549.500 L 1912 733.074 2047.750 732.718 C 2146.895 732.457, 2185.657 732.036, 2191.500 731.157 C 2207.545 728.741, 2220.782 725.709, 2233.500 721.537 C 2294.549 701.511, 2333.227 655.176, 2344.988 587.975 C 2347.782 572.013, 2348.752 543.163, 2347.058 526.452 C 2338.927 446.270, 2292.848 391.091, 2219 373.105 C 2190.936 366.270, 2199.686 366.622, 2048.750 366.257 L 1912 365.926 1912 549.500 M 2999.500 499.701 C 2953.739 502.821, 2904.730 512.937, 2864.213 527.623 C 2723.289 578.707, 2622.088 693.798, 2589.537 840 C 2567.370 939.563, 2575.924 1046.573, 2613.159 1135.500 C 2635.787 1189.542, 2666.864 1235.213, 2709.116 1276.517 C 2784.713 1350.418, 2884.245 1392.966, 3000.500 1401.078 C 3021.792 1402.564, 3071.021 1401.737, 3091 1399.558 C 3202.915 1387.351, 3297.380 1342.938, 3370 1268.384 C 3431.900 1204.835, 3472.156 1122.981, 3486.991 1030.500 C 3492.257 997.675, 3494.399 949.691, 3492.080 916.500 C 3485.577 823.438, 3456.054 741.222, 3404.480 672.558 C 3379.296 639.029, 3344.778 605.546, 3310.500 581.395 C 3243.825 534.419, 3164.270 506.811, 3076.050 500.033 C 3063.846 499.096, 3011.699 498.870, 2999.500 499.701 M 5140 500.056 C 5066.776 506.269, 4999.236 526.445, 4940.916 559.529 C 4926.370 567.781, 4899.019 586.409, 4885.500 597.271 C 4836.865 636.350, 4799.635 682.634, 4771.499 739 C 4736.698 808.717, 4720.897 886.219, 4724.096 971.500 C 4726.616 1038.662, 4742.148 1102.173, 4769.843 1158.565 C 4780.231 1179.717, 4785.065 1188.121, 4798.565 1208.500 C 4824.783 1248.079, 4858.132 1283.331, 4896.500 1312.024 C 4966.612 1364.456, 5050.667 1394.400, 5146.471 1401.074 C 5167.845 1402.563, 5217.210 1401.742, 5237 1399.569 C 5295.673 1393.124, 5348.723 1378.192, 5396.584 1354.649 C 5418.832 1343.705, 5426.961 1339.041, 5447.500 1325.435 C 5510.541 1283.676, 5561.783 1224.496, 5594.456 1155.714 C 5616.746 1108.790, 5630.241 1060.270, 5636.708 1003.800 C 5638.085 991.778, 5638.458 980.252, 5638.450 950 C 5638.438 908.889, 5637.726 899.046, 5632.425 866.736 C 5609.561 727.388, 5526.356 612.086, 5403.500 549.502 C 5382.155 538.629, 5366.628 532.182, 5342 523.968 C 5308.548 512.811, 5275.668 505.623, 5238.888 501.428 C 5222.136 499.517, 5157.007 498.614, 5140 500.056 M 3881 513.039 C 3804.029 516.416, 3737.553 539.314, 3687.500 579.692 C 3674.669 590.042, 3654.520 610.773, 3645.183 623.230 C 3618.882 658.318, 3600.343 702.205, 3592.478 748 C 3587.263 778.361, 3587.618 755.445, 3587.279 1083.750 L 3586.965 1388 3693.964 1388 L 3800.963 1388 3801.278 1101.750 L 3801.592 815.500 3803.737 804.488 C 3815.323 745.010, 3849.960 713.240, 3910 707.019 C 3915.462 706.453, 3957.436 706.027, 4008.750 706.017 L 4098 706 4098 609 L 4098 512 3997.750 512.157 C 3942.613 512.244, 3890.075 512.641, 3881 513.039 M 847 538.590 C 763.701 542.463, 694.522 552.864, 624 572.117 C 602.544 577.975, 564.285 590.340, 561.645 592.270 C 559.911 593.538, 559.962 594.390, 562.882 613.046 C 573.634 681.728, 578.718 757.169, 577.217 825.748 C 576.729 848.035, 577.042 850, 581.082 850 C 582.093 850, 595.296 846.182, 610.423 841.515 C 770.645 792.083, 908.939 763.379, 1033 753.804 C 1055.036 752.103, 1127.280 752.113, 1144.500 753.820 C 1196.287 758.951, 1231.809 767.649, 1263.476 782.951 C 1282.356 792.074, 1302.593 806.980, 1314.478 820.518 C 1317.608 824.083, 1320.806 827, 1321.585 827 C 1322.363 827, 1323.874 826.126, 1324.943 825.057 C 1326.866 823.134, 1326.852 822.989, 1323.497 810.307 C 1307.419 749.543, 1279.171 699.959, 1236.891 658.288 C 1210.696 632.471, 1183.918 613.369, 1149 595.591 C 1087.562 564.311, 1016.852 546.407, 929.500 540.014 C 914.824 538.939, 859.878 537.991, 847 538.590 M 3011.500 684.603 C 3009.850 684.829, 3003.458 685.705, 2997.296 686.551 C 2958.402 691.885, 2919.778 707.970, 2888.500 731.858 C 2885.200 734.378, 2877.822 740.954, 2872.104 746.470 C 2830.244 786.856, 2805.863 838.171, 2796.308 906 C 2793.785 923.907, 2793.787 977.116, 2796.311 995 C 2805.744 1061.838, 2830.328 1113.936, 2871.138 1153.572 C 2905.777 1187.214, 2947.938 1207.130, 3001.500 1215.152 C 3013.621 1216.967, 3058.360 1216.969, 3070.500 1215.155 C 3122.460 1207.389, 3164.512 1187.455, 3199.226 1154.136 C 3231.597 1123.065, 3255.313 1080.200, 3267.526 1030.689 C 3283.277 966.835, 3278.988 891.745, 3256.292 834 C 3224.138 752.190, 3159.834 699.709, 3075.500 686.447 C 3065.056 684.805, 3019.594 683.495, 3011.500 684.603 M 5157.500 684.603 C 5155.850 684.829, 5149.458 685.705, 5143.296 686.551 C 5101.829 692.238, 5060.429 710.291, 5029.500 736.173 C 4981.435 776.394, 4952.257 833.570, 4942.326 907 C 4939.726 926.220, 4939.725 974.763, 4942.323 994 C 4951.191 1059.653, 4974.825 1110.965, 5014.434 1150.563 C 5050.573 1186.692, 5092.117 1206.857, 5147.500 1215.152 C 5159.676 1216.976, 5204.383 1216.970, 5216.500 1215.143 C 5272.737 1206.665, 5316.527 1184.705, 5352.267 1147.056 C 5390.302 1106.990, 5413.159 1054.378, 5421.150 988.500 C 5423.141 972.085, 5422.857 925.006, 5420.667 908.619 C 5411.776 842.068, 5389.266 792.030, 5350.048 751.636 C 5321.168 721.891, 5286.590 701.985, 5245.643 691.532 C 5223.933 685.990, 5213.376 684.748, 5185.500 684.455 C 5171.750 684.311, 5159.150 684.377, 5157.500 684.603 M 1098.500 822.618 C 963.130 828.875, 793.487 867.082, 626.937 928.824 C 587.559 943.422, 574.024 949.027, 572.581 951.333 C 571.835 952.525, 570.931 956.425, 570.571 960 C 569.392 971.722, 562.954 1011.097, 558.881 1031.500 C 541.377 1119.182, 514.739 1191.706, 479.605 1247.333 C 475.147 1254.391, 470.847 1261.211, 470.048 1262.488 C 468.839 1264.422, 468.818 1265.075, 469.921 1266.405 C 470.649 1267.282, 472.220 1268, 473.413 1268 C 474.605 1268, 490.637 1261.212, 509.040 1252.915 C 772.842 1133.986, 961.219 1065.871, 1063.500 1052.429 C 1081.786 1050.025, 1108.054 1050.006, 1118.408 1052.388 C 1133.090 1055.765, 1140.754 1060.488, 1145.490 1069.077 C 1148.194 1073.979, 1148.479 1075.364, 1148.463 1083.500 C 1148.445 1092.876, 1146.751 1099.721, 1141.530 1111.528 C 1132.900 1131.042, 1111.165 1160.416, 1083.663 1189.735 C 1078.898 1194.815, 1075 1199.799, 1075 1200.811 C 1075 1203.564, 1079.211 1207, 1082.584 1207 C 1084.939 1207, 1089.598 1203.619, 1105.520 1190.358 C 1193.278 1117.263, 1254.488 1053.187, 1287.628 999.726 C 1307.285 968.014, 1318.310 934.766, 1316.550 912.500 C 1312.604 862.557, 1266.121 833.211, 1177.051 824.430 C 1162.719 823.018, 1114.119 821.896, 1098.500 822.618" stroke="none" fill="#00a1fc" fill-rule="evenodd"/>
          </svg>
        </div>
        <div class="tablecolumn s4">Porto Essencial</div>
        <div class="tablecolumn s3" style="box-shadow: 0px 0px 0px 1000px <%= data.insurers.portoSeguroEssencial.color %> inset;"><%= data.insurers.portoSeguroEssencial.value %></div>
        <div class="tablecolumn s3"><%= data.insurers.portoSeguroEssencial.percentage %></div>
      </div>
    </div>
    <br>
    <div class="tablebody">
      <div class="tablehead">
        <div class="tablecolumn s2">ITEM</div>
        <div class="tablecolumn s2">VALORES CONTRATO</div>
        <div class="tablecolumn s2">CAUÇÃO</div>
        <div class="tablecolumn s2">CAPIALIZAÇÃO</div>
        <div class="tablecolumn s2">SEGURO FIANÇA</div>
        <div class="tablecolumn s2">SEGURO ESSENCIAL</div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">ALUGUEL</div>
        <div class="tablecolumn s2"><%= data.itemsValues.rent.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.rent.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.rent.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.rent.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.rent.essentialInsurance %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">CONDOMINIO</div>
        <div class="tablecolumn s2"><%= data.itemsValues.condominium.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.condominium.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.condominium.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.condominium.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.condominium.essentialInsurance %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">IPTU</div>
        <div class="tablecolumn s2"><%= data.itemsValues.iptu.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.iptu.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.iptu.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.iptu.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.iptu.essentialInsurance %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">MULTAS CONTRATUAIS</div>
        <div class="tablecolumn s2"><%= data.itemsValues.contractualFines.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.contractualFines.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.contractualFines.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.contractualFines.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.contractualFines.essentialInsurance %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">DANOS SO IMÓVEL</div>
        <div class="tablecolumn s2"><%= data.itemsValues.damageProperty.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.damageProperty.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.damageProperty.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.damageProperty.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.damageProperty.essentialInsurance %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">PINTURA EXTERNA</div>
        <div class="tablecolumn s2"><%= data.itemsValues.externalPainting.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.externalPainting.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.externalPainting.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.externalPainting.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.externalPainting.essentialInsurance %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">PINTURA INTERNA</div>
        <div class="tablecolumn s2"><%= data.itemsValues.internalPainting.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.internalPainting.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.internalPainting.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.internalPainting.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.internalPainting.essentialInsurance %></div>
      </div>
      <div class="tablehead">
        <div class="tablecolumn s2">TOTAL</div>
        <div class="tablecolumn s2"><%= data.itemsValues.total.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.total.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.total.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.total.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.total.essentialInsurance %></div>
      </div>
      <div class="tableline">
        <div class="tablecolumn s2">COBERTURA PARA O PROPRIETARIO</div>
        <div class="tablecolumn s2"><%= data.itemsValues.coverageOwner.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.coverageOwner.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.coverageOwner.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.coverageOwner.bailInsurance %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.coverageOwner.essentialInsurance %></div>
      </div>
      <div class="tableline even">
        <div class="tablecolumn s2">CUSTO PARA O INQUILINO</div>
        <div class="tablecolumn s2"><%= data.itemsValues.costTenant.contractValue %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.costTenant.deposit %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.costTenant.capitalization %></div>
        <div class="tablecolumn s2"><%= data.itemsValues.costTenant.bailInsurance %></div>
        <div class="tablecolumn s2" style="background-color: cadetblue;"><%= data.itemsValues.costTenant.essentialInsurance %></div>
      </div>
    </div>
    <div class="footer">
      <div class="whatsapp-number">
        <font>Whatsapp:</font> <a href="#"><%= data.company.phone %></a>
      </div>
      <div>
        <font>E-mail:</font> <a href="#"><%= data.company.email %></a>
      </div>
      <div>
        <font>Site:</font> <a href="#"><%= data.company.site %></a>
      </div>
    </div>
  </body>
</html>
